<footer class="page-footer">
        <div class="">
            <div class="row">
                <div class="col l4 s12">
                    <img src="~/assets/images/logo-light-with-text.png" width="20%" style="margin-bottom:20px" />
                    <h6 class="white-text"><b>TỔNG CÔNG TY BƯU ĐIỆN VIỆT NAM - VIETNAM POST</b></h6>
                    <p class="grey-text text-lighten-4">Địa chỉ: Số 05 đường Phạm Hùng - Mỹ Đình 2 - Nam Từ Liêm - Hà Nội - Việt Nam</p>
                </div>
                <div class="payment-list col l4 s12">
                    <h5 class="white-text">Phương thức thanh toán</h5>
                    <img class="icon" src="https://frontend.tikicdn.com/_new-next/static/img/footer/visa.svg" width="54" alt="">
                    <img class="icon" src="https://frontend.tikicdn.com/_new-next/static/img/footer/mastercard.svg" width="54" alt="">
                    <img class="icon" src="https://frontend.tikicdn.com/_new-next/static/img/footer/jcb.svg" width="54" alt="">
                    <img class="icon" src="https://frontend.tikicdn.com/_new-next/static/img/footer/cash.svg" width="54" alt="">
                    <img class="icon" src="https://frontend.tikicdn.com/_new-next/static/img/footer/internet-banking.svg" width="54" alt="">
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Fanpage</h5>
                    <div class="fb-page" data-href="https://www.facebook.com/vnpost.vn/" data-tabs="timeline" data-width="400" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vnpost.vn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vnpost.vn/">Bưu điện Việt Nam - VNPost</a></blockquote></div>
                </div>
            </div>
        </div>
    </footer>