.text-ava{
    margin-top:23px;
}
.admin_text {
    color: rgba(255, 255, 255, 0.5);
    margin-left:2px;
    margin-top:5px;
}
.light-logo{
    margin-left:8px;
}
.li_sidebar{
    margin-left:30px;
}
.content_all {
    background-color: #e9ebee !important;
}
a.brand-logo {
    left: 0px !important;
}
.card {
    padding: 20px 20px 20px 20px !important;
}
.title {
    font-size: 27px !important;
    font-weight: 500 !important;
}

.this-is-chart {
    margin-bottom: 30px !important;
}