
@{
    ViewBag.Title = "AddressInfo";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/CustomCSS/User/AddressInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/User/AddressInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputReceiverInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />

<div class="main-wrapper p-t-20 black-text">
    <h2 class="big-title m-t-0 m-b-25 m-t-20 col s12">Sổ địa chỉ</h2>
    <div class="card content-text">
        <div class="col s12 m-b-20">
            <div class="address-list-div ">
                <div class="row">
                    <p class="content-text font-bold col s12 fix-font">Nguyễn Vũ Minh</p>
                    <p class="content-text col s12">Địa chỉ: KDC số 28, thôn Thạch Thang, xã Đức Phong, huyễn Mộ Đức, tỉnh Quảng Ngãi</p>
                    <p class="content-text col s12">Số điện thoại: 0829018592</p>
                    <p class="col s12 m-t-15">
                        <span class="row">
                            <button class="col l3 m6 s12 btn waves-effect waves-light bt-color-common m-b-10" type="submit">
                                Giao đến địa chỉ này
                            </button>
                            <button class="show-form col l2 m5 offset-m1 s12 offset-l2 btn waves-effect waves-light bt-color-common" type="button">
                                Sửa
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
          
    </div>
</div>
