
@{
    ViewBag.Title = "CreateAddressInfo";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

}

<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/custom.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/font.css" rel="stylesheet" />
<link href="~/CustomCSS/User/AddressInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputReceiverInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />

<div class="main-wrapper p-t-20 black-text">
    <h2 class="big-title m-t-0 m-b-25 m-t-20 col s12">Tạo địa chỉ</h2>
    <div class="card content-text">
        <div class="account-info">
            <div class="row">
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Họ và tên:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <input id="name" type="text" value="Nguyễn Vân Anh">
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Số điện thoại:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <input id="phone" type="text" value="0915123123">
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Tỉnh/Thành phố:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <select tabindex="-1" class="card-border" id="province">
                            @foreach (var item in ViewBag.listProvince)
                            {
                                <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Quận/Huyện:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <select tabindex="-1" class="card-border" id="district">
                        </select>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Địa chỉ:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <textarea id="address"></textarea>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Loại giấy tờ tùy thân:
                    </div>
                    <div class="col s12 l5 m5">
                        <select tabindex="-1" class="card-border" id="paperType" onchange="toggleDiv('paperDetail', this)">
                            @foreach (var item in ViewBag.listPaperType)
                            {
                                <option value="@item.PersonalPaperTypeID"> @item.PersonalPaperTypeName</option>
                            }
                            <option value=""> Không có </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" id="paperDetail">
                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Mã số giấy tờ tùy thân:
                    </div>
                    <div class="col s12 l5 m5">
                        <input id="code" type="text" value="">
                    </div>
                </div>

                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Ngày cấp:<span class="red-text">*</span>
                    </div>
                    <div class="col s12 l5 m5">
                        <div>
                            <div class="row">
                                <input name="date" id="date" type="datetime"
                                       class="datepicker-here col offset-s1 s9 offset-l1 l10" autocomplete="off"
                                       data-language='vi' value="" />
                                <i class="fas fa-calendar-alt col s2 l1" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-b-30">
                    <div class="col s12 l5 m5 p-t-10">
                        Nơi cấp:
                    </div>
                    <div class="col s12 l5 m5">
                        <input id="placeOfIssue" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l5 m5">
                </div>
                <div class="col s12 l5 m5 right-align">
                    <a class="btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit"
                       style="margin-right: -11px;" href="/tai-khoan/so-dia-chi" onclick="add()">
                        Cập nhật
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //add.
    function add() {
        var data = {
            date: document.getElementById("date").value,
            name: document.getElementById("name").value,
            phone: document.getElementById("phone").value,
            province: document.getElementById("province").value,
            district: document.getElementById("district").value,
            address: document.getElementById("address").value,
            paperType: document.getElementById("paperType").value,
            code: document.getElementById("code").value,
            placeOfIssue: document.getElementById("placeOfIssue").value
        };
        $.ajax({
            url: "/tai-khoan/tao-dia-chi-moi/them",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json"
        });
    }

    $(document).ready(function () {
        $('#province').change(function () {
            var data = {
                provinceID: document.getElementById("province").value
            };
            $.ajax({
                type: "POST",
                url: "/tai-khoan/tao-dia-chi-moi/lay-quan-huyen",
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                success: function (response) {
                    $('#district').empty();
                    var option = "<option value='Quận/Huyện' selected disabled>Quận/Huyện</option>";
                    for (var i = 0; i < response.length; i++) {
                        option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                    }
                    $('#district').append(option);
                    $('#district').formSelect();
                    $('#pre-load').hide()
                }
            });
        }
        )  
    })

    function toggleDiv(divId, element) {
        if (element.value == '') {
            $("#" + divId).hide();
        } else {
            $("#" + divId).show();
        }
    }

</script>


<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
