
@{
    ViewBag.Title = "InvitationManage";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />
<link href="~/CustomCSS/User/InviteManage.css" rel="stylesheet" />

<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<script src="~/assets/extra-libs/Datatables/datatables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
<style>
    .invitation-container{
    min-height:750px;
}
    li.paginate_button.page-item.active{
        background-color:#1e88e5 !important;
    }
</style>
<div class="main-wrapper p-t-20">
    <div class="card invitation-container">
        <div class="card-content">
            <div class="card-title">
                <h4><b>Giấy hẹn của tôi</b></h4>
            </div>
            <div class="m-b-40 m-t-30 text-responsive">
                <table id="mainTable" class="table-bordered">
                    <thead>
                        <tr>
                            <th class="width-8">Mã hồ sơ</th>
                            <th class="width-12">Ngày tạo</th>
                            <th class="width-12">Tên giấy hẹn</th>
                            <th class="width-10">Mã vận đơn</th>
                            <th class="width-15">Tổng tiền</th>
                            <th class="width-10">Trạng thái đơn hàng</th>
                            <th class="width-10"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
</div>

<script>

    $(document).ready(function () {
        searchActi();
    });

    function searchActi() {
        var dataTable = $('#mainTable').DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Sau",
                    "previous": "Trước"
                }
            },
            "ajax": {
                "url": "/tai-khoan/quan-ly-giay-hen/danh-sach",
                "type": "POST",
                "datatype": "json",
                "cache": "false"
            },
            "columns": [
                {
                    "data": "OrderID", "name": "OrderID", "render": function (data) {
                        return "<form id=\"submit\" action=\"/giay-hen/trang-thai-giay-hen\" method=\"post\"><input name=\"id\" value="+data+" hidden></input><a href=\"#\" onclick='submit()'>"+ data +"</a></form>";
                    }
                },
                { "data": "stringDate", "name": "OrderDate" },
                { "data": "ProfileName", "name": "ProfileName" },
                { "data": "ItemCode", "name": "ItemCode" },
                { "data": "Amount", "name": "Amount" },
                { "data": "StatusName", "name": "StatusName" },
                {
                    "data": {}, "render": function (data) {
                        if (data.StatusID == -3 || data.StatusID == -2) {
                            return "<a href=\"#\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" onclick='getCancel(" +'"' +  data.OrderID + '|' + data.StatusID + '"' + ")'>Hủy đơn hàng</a>";
                        } else {
                            return "<a href=\"#\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" disabled>Hủy đơn hàng</a>";
                        }
                    },
                    "orderable": false,
                    "lengthChange": false,
                    "searchable": false,
                    "width": "150px"
                }
            ],
            "serverSide": true,
            "rowId": "AppointmentLetterCode",
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "order": [1, "desc"],
            "initComplete": function (settings, json) {
                ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                $("#pre-load").hide("slow", function () {
                });
                //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
            }
        });
    }

    function inform(info) {
        var data = {
            orderID: info
        };
        $.ajax({
            type: "POST",
            url: "/tai-khoan/quan-ly-giay-hen/danh-sach/poscode",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            success: function (response) {
                errorAlert("Đơn hàng đã được tiếp nhận", response);
            }
        });
    }

    function getCancel(data) {
        var token = data.split("|");
        //token[0] = orderID ; token[1] = statusID
        //alert(token[0]);
        if (token[1] == -3) {
            confirmAlert("Hủy đơn hàng", "Bạn muốn hủy đơn hàng ?", function () {
                $.ajax({
                    type: "POST",
                    url: "/tai-khoan/quan-ly-giay-hen/huy",
                    dataType: "json",
                    data: {
                        Code: token[0]
                    },
                    success: function () {
                        window.location.href = '/tai-khoan/quan-ly-giay-hen';
                    }
                })
            });
        } else if (token[1] == -2) {
            inform(token[0]);
        } else {

        }
    }

    function submit() {
        document.getElementById("submit").submit();
    }

</script>
