@{
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}

<link href="~/CustomCSS/API/ListAPI.css" rel="stylesheet" />
<script src="~/assets/extra-libs/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="~/assets/extra-libs/tiny-editable/mindmup-editabletable.js"></script>
<script src="~/assets/extra-libs/tiny-editable/numeric-input-example.js"></script>
<script src="~/CustomJS/API.js"></script>



<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <h4 class="font-medium">Request</h4>
                    <!----------->
                    <div class="row">
                        <div class="col s12 m 5 l5">
                            <label><b>Materialize Select</b></label>
                            <div class="h-form-label">
                                <select tabindex="-1" class="card-border" id="method">
                                    <option value="1" selected>GET</option>
                                    <option value="2">POST</option>
                                    <option value="3">PUT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s2 m2 l2"></div>
                        <div class="col s12 m5 l5">
                            <label><b>URI</b></label>
                            <div class="h-form-label">
                                <input type="text" id="uri">
                            </div>
                        </div>
                    </div>
                    <!------------->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <label><b>Description</b></label>
                            <div class="h-form-label">
                                <input type="text" id="description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------->
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h4 class="font-medium">Request Header</h4>
                <div class="row">
                    <div class="col s12 m5 l5">
                        <label><b>Authorization</b></label>
                        <input type="text" value="Basic Authentication" disabled="disabled">
                    </div>
                    <div class="col s12 m2 l2"></div>
                    <div class="col s12 m5 l5">
                        <label><b>Content-type</b></label>
                        <input type="text" value="application/json" disabled="disabled">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m5 l5">
                        <label><b>Username</b></label>
                        <input type="text" id="username" />
                    </div>
                    <div class="col s12 m2 l2"></div>
                    <div class="col s12 m5 l5">
                        <label><b>Password</b></label>
                        <input type="password" id="password" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------->
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h4 class="font-medium">Parameter</h4>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table id="parameterTable" class="centered table-bordered editable-table table" style="cursor: pointer;">
                            <thead class="clgray">
                                <tr>
                                    <th rowspan="2">STT</th>
                                    <th colspan="2">Request</th>
                                    <th rowspan="2">Kiểu dữ liệu</th>
                                </tr>
                                <tr>
                                    <th style="width: 45%">Logic</th>
                                    <th style="width: 30%">Physics</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type='text' class="logic" /></td>
                                    <td><input type='text'class="physics" /></td>
                                    <td><input type='text' class="type" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <div class="center-align">
                            <a><button id="addrowParameter" type="submit" class="btn light-blue lighten-1" onclick="addParameterRow()"><i class='large material-icons'>add</i> @*Thêm Request data mới*@</button></a>
                            <button id='remove' class='@*waves-effect waves-light btn blue ju*@ btn light-blue lighten-1' onclick="deleterowParameter('parameterTable')"><i class='large material-icons'>remove</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------->
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h4 class="font-medium">Request Data</h4>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table id="requestTable" class="centered table-bordered editable-table table" style="cursor: pointer;">
                            <thead class="clgray">
                                <tr>
                                    <th rowspan="2">STT</th>
                                    <th colspan="2">Request</th>
                                    <th rowspan="2">Kiểu dữ liệu</th>
                                </tr>
                                <tr>
                                    <th style="width: 45%">Logic</th>
                                    <th style="width: 30%">Physics</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type='text'/></td>
                                    <td><input type='text' /></td>
                                    <td><input type='text' /></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <div class="center-align">
                            <a><button id="addrowRequest" type="submit" class="btn light-blue lighten-1" onclick="addRequestRow()" ><i class='large material-icons'>add</i> @*Thêm Request data mới*@</button></a>
                            <button id='remove'  class='btn light-blue lighten-1' onclick="deleterowRequest('requestTable')"><i class='large material-icons'>remove</i></button></a>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------->
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h4 class="font-medium">Response Data</h4>
                <div class="row">
                    <div class="col l11">
                        <div class="row">
                            <div class="response-data">
                                <div class="response-data-left">
                                    <p>Sample Data</p>
                                </div>
                                <div class="response-data-right">
                                    <textarea style="height: 100%" id="format"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <a class="btn blue btn-small darken-2" onclick="FormatJson()">Tự động căn chỉnh JSON Format</a>
                    <a class="btn blue btn-small darken-2" onclick="Add()">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td').focus();
        $('#mainTable2').editableTableWidget().numericInputExample().find('td').focus();
        $('#editable-datatable').editableTableWidget().numericInputExample().find('td').focus();
        $(function () {
            $('#editable-datatable').DataTable();
        });

    </script>
    <script>
        var beforeforma;
        function FormatJson() {
            var jsonStr = $("#format").val();
            var jsonObj = JSON.parse(jsonStr);
            var jsonPretty = JSON.stringify(jsonObj, null, '\t');

            $("#format").val(jsonPretty);

        }
        var countParameter = 1;
        var countRequest = 1;

       

            function addParameterRow(){
                countParameter++;
                $("#parameterTable").append("<tr>" +

                    "<td>" + countParameter + "</td>" +
                    "<td><input type='text' /></td>" +
                    "<td><input type='text' /></td>" +
                    "<td><input type='text' /></td>" +
                    "</tr>");
            }
      
        function addRequestRow() {
                countRequest++;
            $("#requestTable").append("<tr>" +
            
            "<td> "+countRequest+"</td>" +
                "<td><input type='text' /></td>" +
                "<td><input type='text' /></td>" +
                "<td><input type='text' /></td>" +
                "</tr>");

        }
        function deleterowRequest(tableID) {
            var table = document.getElementById(tableID);
            table.deleteRow(-1);
                countRequest--;
        
        }
           function deleterowParameter(tableID) {
            var table = document.getElementById(tableID);
            table.deleteRow(-1);
           countParameter--;
        }
        function Add() {
            var listrequest = new Array();
            var listparameter = new Array();

            $("#requestTable TBODY TR").each(function () {
                var request = {};
                var x = $(this).find("td:eq(1)").text();
                request.APIOutputParamDescription = $(this).find("td").eq(1).children().val();
                request.APIOutputParamName = $(this).find("td:eq(2)").children().val();
                request.APIOutputParamType = $(this).find("td:eq(3)").children().val();
                listrequest.push(request);
            });
            $("#parameterTable TBODY TR").each(function () {
                var parameter = {};
                parameter.APIInputParamDescription= $(this).find("td:eq(1)").children().val();
                parameter.APIInputParamName = $(this).find("td:eq(2)").children().val();
               parameter.APIInputParamType = $(this).find("td:eq(3)").children().val();
                listparameter.push(parameter);

            });
            var data = {
                listrequest: listrequest,
                listparameter: listparameter,
                materialize: $('#method').val(),
                uri: $('#uri').val(),
                description: $('#description').val(),
                username: $('#username').val(),
                password: $('#password').val(),
                response: $("#format").val(),
            }
              $.ajax({
                type: "POST",
                url: "/api/them-moi-api/add",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    successAlert('Thành công', 'Thao tác thành công');
                    
                    alter("thanh cong");


                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("fail");
                    
                }

            });

          
        }

    </script>
    
