@{
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}

<link href="~/CustomCSS/API/ListAPI.css" rel="stylesheet" />
<script src="~/assets/extra-libs/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="~/assets/extra-libs/tiny-editable/mindmup-editabletable.js"></script>
<script src="~/assets/extra-libs/tiny-editable/numeric-input-example.js"></script>
<script src="~/CustomJS/API.js"></script>

<div class="page-titles">
    <div class="d-flex align-items-center">
        <h4 class="font-medium m-b-0 pdleft">Thêm mới API</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body">
                        <div class="card-content">
                            <h4 class="font-medium">Request</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label m-t-15">
                                                <label for="f-name">HTTP Request</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <select tabindex="-1" class="card-border">
                                                    <option value="1" selected>GET</option>
                                                    <option value="2">POST</option>
                                                    <option value="3">PUT</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label m-t-15">
                                                <label for="f-name">URI</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <input id="URI-field" type="text" value="https://vnpost/lay-thong-tin-ma-ho-so">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label m-t-15">
                                                <label for="f-name">Description</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <input id="description-field" type="text" value="API lấy thông tin về mã hồ sơ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="font-medium">Request Header</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label for="f-name">Authorization</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <label for="f-name">Basic Authentication</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label for="f-name">Content-type</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <label for="f-name">application/json</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label m-t-15">
                                                <label for="f-name">Username</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <input id="username-field" type="text" value="test">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s5">
                                            <div class="h-form-label m-t-15">
                                                <label for="f-name">Password</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <input id="password-field" type="text" value="123456">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-content">
                            <h4 class="font-medium">Parameter</h4>
                            <div class="row">
                                <div class="col l11">
                                    <div class="row">
                                        <table id="mainTable" class="centered table-bordered editable-table table" style="cursor: pointer;">
                                            <thead class="clgray">
                                                <tr>
                                                    <th rowspan="2">STT</th>
                                                    <th colspan="2">Request</th>
                                                    <th rowspan="2">Kiểu dữ liệu</th>
                                                </tr>
                                                <tr>
                                                    <th style="width: 45%">Logic</th>
                                                    <th style="width: 30%">Physics</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>VD1</td>
                                                    <td>Mã số của bưu gửi muốn lấy thông tin</td>
                                                    <td>MaBuuGui</td>
                                                    <td>varchar(13)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <div class="center-align">
                                            <div id="addrow" class="waves-effect waves-light btn blue ju"><i class="fas fa-plus"></i> Thêm param mới</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-content">
                            <h4 class="font-medium">Request Data</h4>
                            <div class="row">
                                <div class="col l11">
                                    <div class="row">
                                        <table id="mainTable2" class="centered  editable-table table" style="cursor: pointer;">
                                            <thead class="clgray">
                                                <tr>
                                                    <th rowspan="2">STT</th>
                                                    <th colspan="2">Request</th>
                                                    <th rowspan="2">Kiểu dữ liệu</th>
                                                </tr>
                                                <tr>
                                                    <th style="width: 45%">Logic</th>
                                                    <th style="width: 30%">Physics</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td tabindex="1">VD</td>
                                                    <td tabindex="1">Mã khách hàng của đơn hàng này</td>
                                                    <td tabindex="1">MaKH</td>
                                                    <td tabindex="1">varchar(50)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <div class="center-align">
                                            <div id="addrow" class="waves-effect waves-light btn blue ju"><i class="fas fa-plus"></i> Thêm Request data mới</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-content">
                            <h4 class="font-medium">Response Data</h4>
                            <div class="row">
                                <div class="col l11">
                                    <div class="row">
                                        <div class="response-data">
                                            <div class="response-data-left">
                                                <p>Sample Data</p>
                                            </div>
                                            <div class="response-data-right">
                                                <p>
                                                    {
                                                    <br /><br />
                                                    "MaBuuGui": "EN980000239VN",
                                                    <br /><br />
                                                    "MaKH": "42001O84000029000",
                                                    <br /><br />
                                                    "MaBuuCucDauMoiHCC": "421650",
                                                    <br /><br />
                                                    "HoTenNguoiNhan": "Trần Thị B",
                                                    <br /><br />
                                                    "DiaChiNguoiNhan": "Hà Nội",
                                                    <br /><br />
                                                    "DienThoaiNguoiNhan": "0972111757",
                                                    <br /><br />
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col l11">
                                    <div class="row">
                                        <div class="form-action right-align">
                                            <a href="" class="waves-effect waves-light btn blue ju">Tự động căn chỉnh JSON format</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col l11">
                                    <div class="row">
                                        <div class="form-action right-align">
                                            <a href="" class="waves-effect waves-light btn blue ju">Xác nhận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        $('#mainTable2').editableTableWidget().numericInputExample().find('td:first').focus();
        $('#editable-datatable').editableTableWidget().numericInputExample().find('tdLfirst').focus();
        $(function () {
            $('#editable-datatable').DataTable();
        });

    </script>