.account-info {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0 0 0 0 white !important;
}

.cal-icon {
    font-size: 40px;
}

.fix-font {
    font-family: "Nunito Sans", sans-serif !important;
}

.address-list-div {

    border-radius: 12px;
    padding:20px;
}

