
@media (max-width: 766px)
#main-wrapper[data-sidebartype="mini-sidebar"] .topbar nav .nav-wrapper ul.left {
    margin-left: 0px !important; 
}

.topbar nav .nav-wrapper > ul.left {
    margin-left: 0px !important; 
    transition: all .3s;
}
.topbar .bars {
    height: 2px;
    background: #4c4c4c !important;
}
#main-wrapper[data-layout="vertical"] .topbar nav[data-navbarbg="skin1"], #main-wrapper[data-layout="horizontal"] .topbar nav[data-navbarbg="skin1"] {
    background: #ffffff !important;
}
.light-logo{
    width:80px;
    margin-top:10px;
}
#account-area * {
    margin-left: 5px;
}
#account-area  img{
    width:40px;
}
p#email-display {
    margin-top: -17px !important;
    margin-bottom: -17px !important;
}
li#account-area {
    margin-top: 10px;
    
}
a#account-settings-button {
    margin-bottom: -17px !important;
}
#account-area {
    color:white;
    padding:10px !important;
    background-image: url('../../images/account-info-background.png');
}
#account-area h5{
    color: white;

}
.page-wrapper {
    background-color: #fafafa;
}
nav {
    position: fixed;
}

.left-sidebar {
    position: fixed;
}
#account-settings-button{
    background-color:red !important;
}
#toast-container {
    min-width: 10%;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}
/*************************************************************/
.datepicker {
    z-index: 9999;
}

#toast-container {
    min-width: 10%;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

ul.dropdown-content {
    position: fixed !important;
    z-index: 9999;
}

a#save_profile1 {
    margin-left: 20px;
}

.dropzone .dz-preview .dz-image {
    margin: auto;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #29bb22 !important;
    background: linear-gradient(to bottom, #7ceb69, #29bb22) !important;
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    width: 0;
}

.wizard > .actions {
    padding-top: 30px !important;
}

.dz-preview.dz-processing.dz-success.dz-complete.dz-image-preview {
    margin: 0px !important;
    display: block;
}

#item5-error {
    color: white;
}

.wizard-content .wizard > .steps > ul > li.current .step {
    border-color: #fcaf17 !important;
    background-color: #fff !important;
    color: #fcaf17 !important;
}

.wizard-content .wizard > .steps > ul > li.done .step {
    background-color: #fcaf17 !important;
    border-color: #fcaf17 !important;
}

.wizard-content .wizard.wizard-circle > .steps > ul > li.current:after, .wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:after, .wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:before {
    background-color: #F3F3F3 !important;
}

.wizard-content .wizard.wizard-circle > .steps > ul > li:after, .wizard-content .wizard.wizard-circle > .steps > ul > li:before {
    background-color: #fcaf17 !important;
}

.wizard-content .wizard > .actions > ul > li > a {
    background: #fcaf17 !important;
}

    .wizard-content .wizard > .actions > ul > li > a[href="#previous"] {
        background-color: #fff !important;
    }

.summary-label {
    font-weight: bold !important;
}

.summary-content {
    font-style: italic !important;
    margin-left: 20px !important;
    padding-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.card {
    margin-left: -50px;
    margin-right: -50px;
    height: 100vh;
    padding-bottom:50px !important;
}

.card-title {
    color: dimgray;
}

i.small.material-icons.dp48 {
    vertical-align: middle;
}

.image-input {
    width: 47% !important;
    border: 1px #d1d1d1 solid;
    border-radius: 10px;
}

    .image-input:active {
        background-color: #d1d1d1 !important;
    }

#img-capture {
    float: right !important;
}

.img-input {
    display: none !important;
}

#capture-modal {
    border-radius: 15px;
}

#img-display {
    margin-top: 70px !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px dashed #b0b0b0;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.card .card-content {
    padding-top: 50px !important;
}

.step-title {
    border: 1px solid #fcaf17;
    color: #fcaf17;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.bill-container {
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}
ul#slide-out {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px -2px rgba(0, 0, 0, 0), 0 6px 5px 0 rgba(0, 0, 0, 00.2) !important;
}