
@media (max-width: 766px)
#main-wrapper[data-sidebartype="mini-sidebar"] .topbar nav .nav-wrapper ul.left {
    margin-left: 0px !important; 
}

.topbar nav .nav-wrapper > ul.left {
    margin-left: 0px !important; 
    transition: all .3s;
}
.topbar .bars {
    height: 2px;
    background: #4c4c4c !important;
}
#main-wrapper[data-layout="vertical"] .topbar nav[data-navbarbg="skin1"], #main-wrapper[data-layout="horizontal"] .topbar nav[data-navbarbg="skin1"] {
    background: #ffffff !important;
}
.light-logo{
    width:80px;
    margin-top:10px;
}
#account-area * {
    margin-left: 5px;
}
#account-area  img{
    width:40px;
}
p#email-display {
    margin-top: -17px !important;
    margin-bottom: -17px !important;
}
li#account-area {
    margin-top: 10px;
    
}
a#account-settings-button {
    margin-bottom: -17px !important;
}
#account-area {
    color:white;
    padding:10px !important;
    background-image: url('../../images/account-info-background.png');
}
#account-area h5{
    color: white;

}
.page-wrapper {
    background-color: #fafafa;
}
nav {
    position: fixed;
}

.left-sidebar {
    position: fixed;
}
#account-settings-button{
    background-color:red !important;
}