


@{
    ViewBag.Title = "DocumentReceivedDetail";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputReceiverInfo.css" rel="stylesheet" />


<div class="container-fluid">

    <div class="row">

        <div class="col s12">
            <h2 class="status-title size-title">Chi tiết giấy hẹn - Đã tiếp nhận</h2>
            <div class="card">

                <div class="card father-display-status">
                    <div class="ClearFix">
                        <p class="code-order">Mã đơn hàng: #12345678</p>
                    </div>
                    <!--wizard form-->
                    <div class="card-content wizard-content">
                        <form action="#" class="tab-wizard wizard-circle wizard clearfix" role="application" id="steps-uid-6">
                            <div class="steps clearfix">
                                <ul role="tablist">
                                    <li role="tab" class="first done" aria-disabled="false" aria-selected="false">
                                        <a id="steps-uid-6-t-0" aria-controls="steps-uid-6-p-0" style="color:black!important;">
                                            <span class="step">1</span>
                                            Đang chờ tiếp nhận
                                        </a>
                                    </li>
                                    <li role="tab" class="done" aria-disabled="false" aria-selected="false">
                                        <a id="steps-uid-6-t-1" aria-controls="steps-uid-6-p-1" style="color:black!important;">
                                            <span class="step">2</span>
                                            Đã tiếp nhận
                                        </a>
                                    </li>
                                    <li role="tab" class="current last" aria-disabled="false" aria-selected="false">
                                        <a id="steps-uid-6-t-2" aria-controls="steps-uid-6-p-2" style="color:black!important;">
                                            <span class="step">3</span>
                                            Lấy giấy tờ thành công
                                        </a>
                                    </li>
                                    <li role="tab" class="" aria-disabled="false" aria-selected="true">
                                        <a id="steps-uid-6-t-3" aria-controls="steps-uid-6-p-3" style="color:black!important;">
                                            <span class="current-info audible">current step:</span><span class="step">4</span>
                                            Đang phát
                                        </a>
                                    </li>
                                    <li role="tab" class="" aria-disabled="false" aria-selected="true">
                                        <a id="steps-uid-6-t-3" aria-controls="steps-uid-6-p-3" style="color:black!important;">
                                            <span class="current-info audible">current step:</span><span class="step">5</span>
                                            Đã phát thành công
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <!--end wizard form-->
                    <h3>Chi tiết trạng thái đơn hàng</h3>
                    <div class="card detailOrder">
                        <div class="gray-line line highlight">Cập nhật mới nhất: Thứ tư, 16/10/2019</div>
                        <div class="line">08:00 Đang đi lấy hồ sơ</div>
                        <div class="gray-line line highlight">Thứ ba, 15/10/2019</div>
                        <div class="line">
                            <div>10:05 Xác nhận thông tin giấy hẹn thành công</div>
                            <div>10:00 Đã tiếp nhận thông tin giấy hẹn</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="page-titles">
        <div class="d-flex align-items-center">

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body">
                        <div class="divider"></div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin đơn hàng</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Mã vận đơn:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label class="font-medium" for="f-name">VN0005792911Q</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Bằng chữ:</label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label class="font-medium" for="l-name">Bốn mươi ba ngìn tám trăm đồng</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Phí vận chuyển: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label class="font-medium" for="uname">43,500 (đồng)</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Trạng thái: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label class="font-medium" for="uname">Đã thanh toán</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin hồ sơ</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Số hồ sơ: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="f-name">#98765</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Tên bưu cục đầu mối:</label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="l-name">KHL Hùng Vương</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Tên cơ quan HCC:  </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label for="uname">Công an Thành phố Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số điện thoại BCĐM: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">4.39435895</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Tên thủ tục:  </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label for="uname">Cấp mới CMT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Địa chỉ BCĐM: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="nname">Số 175, Phố Nguyễn Thái Học, Phường Điện Biên</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Số điện thoại CQHCC:  </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label for="uname">912213855</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">

                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ CQHCC:  </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label for="uname">Số 1, ngõ 2, Nguyễn Thái Học, Ba Đình, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">

                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h6>

                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn A</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">091234567</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="uname">Khu công nghệ cao, xã Thạch Hòa, huyện Thạch Thất, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Loại GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="h-form-label">
                                                <label for="uname">Chứng Minh Nhân Dân </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">12345</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Ngày cấp: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">10/10/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người gửi</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Thị B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">01234567890</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Mỹ Đình, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@gmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người nhận</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">0345671234</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Tố Hữu, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@fpt.vn</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row clgray">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Thông tin ghi chú: </label>
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="h-form-label">
                                                <label for="uname">Giao hàng ngoài giờ hành chính các ngày trong tuần hoặc vào thứ 7, chủ nhật</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--Bach-->
                        <!---->

                        <div></div>

                    </div>
                    <div></div>

                </form>

            </div>
        </div>
    </div>
    <div class="row m-t-30 m-b-30">
        <div class="col s1 m6 l6 m6">
            <div class="input-field row">
                <p class="col l4 m4 p-t-10 s12"></p>
                <div class="col l6 m6 s12">

                </div>
            </div>
        </div>
        <div class="col s11 m6 l6 m6">
            <div class="input-field row">
                <p class="col l4 m4 p-t-10 s12"></p>
                <div class="col l6 m6 s12 right-align">
                    <button class="btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit">
                        Trở về
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- JavaScript add more for 1->4 -->
<script src="../../dist/js/custom.min.js"></script>
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>


<script>
    jQuery(document).ready(function () {
        jQuery('.form-wrapper').hide();

        jQuery(".show-form").click(function () {
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
            $('.form-wrapper').fadeIn(300);
        });

        jQuery(".hide-form").click(function () {
            $('.form-wrapper').fadeOut(300);
        });

    })

</script>



