
@{
    ViewBag.Title = "DocumentNotReceivedDetail";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}


<link href="~/CustomCSS/Document/DocumentNotReceivedDetailController.css" rel="stylesheet" />

<div class="page-titles">
    <div class="d-flex align-items-center">
        <h4 class="font-medium m-b-0 pdleft">Chi tiết giấy hẹn - Chờ tiếp nhận</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body">
                        <div class="divider"></div>
                        <div class="card-content">
                            <h4 class="font-medium">Thông tin thủ tục</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Tên thủ tục:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Cấp mới CMT
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Tên cơ quan HCC:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Công an quận Hoàn Kiếm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Tỉnh/Thành phố:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Hà Nội
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Địa chỉ CQHCC:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Số 1, ngõ 2, Hai Bà Trưng, Hoàn Kiếm, Hà Nội
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Quận/Huyện:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Hoàn Kiếm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Số hồ sơ:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                #98765
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h4 class="font-medium">Thông tin hồ sơ</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="center-align">STT</th>
                                        <th class="center-align">Danh mục hồ sơ</th>
                                        <th class="center-align">Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center-align">1</td>
                                        <td>Hộ khẩu thường trú (sổ hộ khẩu, sổ hộ khẩu gia đình hoặc giấy chứng nhận nhân khẩu tập thể đã được cấp)</td>
                                        <td class="center-align">1</td>
                                    </tr>
                                    <tr>
                                        <td class="center-align">2</td>
                                        <td>CMT bản cũ</td>
                                        <td class="center-align">2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h4 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Họ và tên:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Nguyễn Văn A
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Số điện thoại
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                091234567
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Địa chỉ:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Khu công nghệ cao, xã Thạch Hòa, huyện Thạch Thất, Hà Nội
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">

                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Loại GTTT:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Chứng Minh Nhân Dân
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Số GTTT:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                12345
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Ngày cấp:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                10/10/2019
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Nơi cấp:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Hà Nội
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h4 class="font-medium">Thông tin người gửi (Đang chờ confirm giữ hay không)</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Họ và tên:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Nguyễn Thị B
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Số điện thoại
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                01234567890
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Địa chỉ:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                Nhà số 191, Mỹ Đình, Hà Nội
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="h-form-label">
                                                Email:
                                            </div>
                                        </div>
                                        <div class="col s8">
                                            <div class="h-form-label">
                                                email@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content form-group">
                            <h4 class="font-medium">Thông tin cập nhật</h4>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="input-field row">
                                        <p class="col l4 m4 p-t-10 s12 p-t-15">Mã bưu gửi:</p>
                                        <div class="col l6 m6 s12">
                                            <input class="no-border" id="con1" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12 l6">
                                    <div class="select-wrapper row">
                                        <div class="col l4 m4 p-t-10 s12 p-t-15">Trạng thái:</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1">
                                                <option value="1" selected>Đã tiếp nhận</option>
                                                <option value="2">Từ chối </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-40">
                                <div class="col s12 l12 ">
                                    <div class="row">
                                        <div class="col s4 l2">
                                            Ghi chú:
                                        </div>
                                        <div class="col l6 m6 s12">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <div class="form-action right-align">
                                <a href="/ho-so/chi-tiet-ho-so-da-xu-ly">
                                    <button class="btn">Cập nhật</button>
                                </a>
                                <a href="/ho-so/ho-so-cho-nhan">
                                    <button class="btn">Trở về</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Code<i class="material-icons right">close</i></span>
                    <pre class="pre-scroll">
                    <code class="language-markup">
                                        &lt;form class=&quot;h-form b-form&quot;&gt;
                                &lt;div class=&quot;form-body&quot;&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;About Employee&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;f-name&quot;&gt;First Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;f-name&quot; type=&quot;text&quot; placeholder=&quot;First Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;l-name&quot;&gt;Last Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;l-name&quot; type=&quot;text&quot; placeholder=&quot;Last Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;uname&quot;&gt;Username&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;uname&quot; type=&quot;text&quot; placeholder=&quot;Username Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;nname&quot;&gt;Nick Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;nname&quot; type=&quot;text&quot; placeholder=&quot;Nick Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;Contact Info &amp; Bio&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;email2&quot;&gt;Email&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;email2&quot; type=&quot;text&quot; placeholder=&quot;Email Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;website&quot;&gt;Website&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;website&quot; type=&quot;text&quot; placeholder=&quot;http://&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;cnno&quot;&gt;Contact No&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;cnno&quot; type=&quot;text&quot; placeholder=&quot;Contact No Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;bio&quot;&gt;Bio&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;textarea id=&quot;bio&quot; class=&quot;materialize-textarea&quot; placeholder=&quot;Bio Here&quot;&gt;&lt;/textarea&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                &lt;div class=&quot;card-content&quot;&gt;
                                    &lt;div class=&quot;form-action&quot;&gt;
                                        &lt;button class=&quot;btn cyan waves-effect waves-light&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Save
                                        &lt;/button&gt;
                                        &lt;button class=&quot;btn waves-effect waves-light grey darken-4&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Cancel
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;
                                    </code>
                                </pre>
                </div>
            </div>
        </div>
    </div>
</div>


