
@{
    ViewBag.Title = "DocumentProcessed";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
    <div class="row">
        <!-- Column -->
        <div class="col l4">
            <div class="card">
                <img class="card-img-top responsive-img" src="../../assets/images/big/img4.jpg" alt="Card image cap">
                <div class="card-content">
                    <div class="d-flex no-block align-items-center m-b-15">
                        <span><i class="ti-calendar"></i> 20 May 2018</span>
                        <div class="ml-auto">
                            <a href="javascript:void(0)" class="link"><i class="ti-comments"></i> 3 Comments</a>
                        </div>
                    </div>
                    <h5>Featured Hydroflora Pots Garden &amp; Outdoors</h5>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="waves-effect waves-light btn btn-round indigo m-t-20">Read more</button>
                </div>
            </div>
        </div>
        </div>
