
@{
    ViewBag.Title = "Hồ sơ chờ tiếp nhận";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}

<link href="~/CustomCSS/Document/DocumentNotReceived.css" rel="stylesheet" />
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/custom.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/font.css" rel="stylesheet" />

<div class="page-titles">
    <div class="d-flex align-items-center">
        <h4 class="font-medium m-b-0 pdleft black-text">Danh sách giấy hẹn - Chờ tiếp nhận</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body black-text">
                        <div class="divider"></div>
                        <div class="card-content">
                            <h6 class="font-medium black-text">Thông tin thủ tục</h6>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <div class="select-wrapper row">
                                        <div class="col l4 m4 p-t-10 s12 my-label">Tên thủ tục</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1" class="card-border">
                                                <option value="1" selected>Cấp đổi CMT</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <div class="select-wrapper row">
                                        <div class="col l4 m4 p-t-10 s12 my-label">Tỉnh/thành</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1">
                                                <option value="1" selected>Hà Nội</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-responsive">
                                <div class="input-field col s12 m12 l6">
                                    <div class="input-field row">
                                        <p class="col l4 m4 p-t-10 s12 my-label">Từ ngày</p>
                                        <div class="col l6 m6 s12 datepicker-calendar-container row">
                                            <input name="dateTLHD" id="datepicker" type='text' readonly
                                                   class="col s10 l10 datepicker-here" autocomplete="off"
                                                   data-language='vi' value="01/01/2019" />
                                            <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">date_range</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <div class="select-wrapper row">
                                        <div class="col l4 m4 p-t-10 s12 my-label">Cơ quan hành chính</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1" class="right-align">
                                                <option value="1" selected>Công an tỉnh</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-responsive">
                                <div class="input-field col s12 m12 l6">
                                    <div class="input-field row">
                                        <p class="col l4 m4 p-t-10 s12 my-label">Đến ngày</p>
                                        <div class="col l6 m6 s12 datepicker-calendar-container row">
                                            <input name="dateTLHD" id="datepicker" type='text' readonly
                                                   class="datepicker-here col s10 l10" autocomplete="off"
                                                   data-language='vi' width="40" value="31/12/2019">
                                            <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">date_range</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <div class="input-field row">
                                        <p class="col l4 m4 p-t-10 s12 my-label"></p>
                                        <div class="col l6 m6 s12 right-align">
                                            <button class="btn waves-effect waves-light cyan my-bt" type="submit">
                                                <i class="material-icons my-icon">filter_list</i>
                                                Hiển thị
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row m-t-10 m-b-10">
        <div class="col s12">
            <div class="right-align">
                <button class="btn waves-effect waves-light cyan my-bt" type="submit">
                    <i class="material-icons my-icon">local_printshop</i>
                    In
                </button>
                <button class="btn waves-effect waves-light cyan my-bt" type="submit">
                    <i class="material-icons my-icon">grid_on</i>
                    Kết xuất excel
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive m-b-40">
                        <table id="mainTable" class="table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th class="width-8">Mã hồ sơ</th>
                                    <th class="width-12">Tên thủ tục</th>
                                    <th class="width-12">Cơ quan HCC</th>
                                    <th class="width-10">Ngày gửi</th>
                                    <th class="width-15">Người gửi</th>
                                    <th class="width-15">Người nhận</th>
                                    <th class="width-22">Địa chỉ người nhận</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                                <tr>
                                    <td>123456798</td>
                                    <td>Cấp đổi CMT</td>
                                    <td>Công an tỉnh</td>
                                    <td>15/10/2019</td>
                                    <td>Nguyễn Thế Nam</td>
                                    <td>Nguyễn Văn B</td>
                                    <td>116 Láng Hạ</td>
                                    <td><a class="a-reset" href="ho-so-cho-nhan/chi-tiet"><i class="material-icons dp48 edit-icon black-text">border_color</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <input style="position: absolute; top: 240px; left: 885px; padding: 15px 5px; text-align: left; font: 400 15px/22.5px &quot;Nunito Sans&quot;, sans-serif; border: 0px none rgb(144, 152, 172); width: 384px; height: 22px; display: none;">
                    </div>
                    <div class="no-collapse-m-p">
                        <ul class="pagination m-t-15 center-align">
                            <li class="pagination_button page-item previous disabled" id="zero_config_previous">
                                <a href="#" aria-controls="zero_config" data-dt-idx="0" tabindex="0" class="page-link my-paging">Trước</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="zero_config" data-dt-idx="1" tabindex="0" class="page-link my-paging">1</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="zero_config" data-dt-idx="2" tabindex="0" class="page-link my-paging">2</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="zero_config" data-dt-idx="3" tabindex="0" class="page-link my-paging">3</a>
                            </li>
                            <li class="paginate_button page-item next" id="zero_config_next">
                                <a href="#" aria-controls="zero_config" data-dt-idx="4" tabindex="0" class="page-link my-paging">Sau</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>