.login-logo img{
    width: 100%;
}

.login-label {
    text-align: center;
    font-size: 1rem;
    color: #1c5b96;
}

.login-btn{
    margin-bottom: 100px;
}

::placeholder {
    color: #808080;
    opacity: 1;
    padding-left: 15px;
}

.my-input {
    border: 1px solid #e9ecef !important;
}

input.invalid[type=email]:not(.browser-default) {
    border-bottom: 1px solid black !important;
    box-shadow: 0 0 0 0 white !important;
}
.title-label{
    display:flex;
}
    .title-label h6 {
        display: flex;
        margin-top: 18px;
        margin-left:5px;
    }
    .title-label i {
        color: #fdaf1b;
    }
.btn-login{
    width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:10px;
}
#login{
    margin-top:20px;
}
.login-content{
    height:450px;
}
.btn-forget{
    margin-left:15px;
}