.btn {
    border-radius: 5px;
}

.my-blue-btn {
    background-color: #2196F3; 
}

.my-blue-btn:hover {
    background-color: #2196F3; 
}

.my-blue-btn:focus {
    background-color: #2196F3; 
}

.img-icon {
    font-size: 100px;
}