/*th {
    text-align: center;
}*/

.big-title {
    font-size: 27px;
    color: black;
    letter-spacing: -1px;
    padding-left: 10.5px;
}

.no-collapse-m-p {
    overflow: hidden;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
    display: block;
}

.width-1 {
    width: 8%;
}

.width-2 {
    width: 60%;
}

.width-3 {
    width: 16%;
}

.width-4 {
    width: 32%;
}

.my-bt {
    padding-left: 20px;
    padding-right: 20px;
}

.hover-caret:hover {
    cursor: text;
}

.left-align {
    text-align: left;
}
