.big-heading {
    font-size: 20px;
}

.content-text {
    font-size: 18px;
    margin-bottom: 7px;
}

.info-list-div {
    border: dashed #b3b3b3;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

textarea {
    margin-top: 10px;
    resize: none;
    height: 150px;
}

.main-wrapper {
    color: black;
}

.big-title {
    font-size: 27px;
    color: black;
    letter-spacing: -1px;
    padding-left: 10.5px;
}

.no-collapse-m-p {
    overflow: hidden;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
    display: block;
}

.width-1 {
    width: 8%;
}

.width-2 {
    width: 60%;
}

.width-3 {
    width: 16%;
}

.width-4 {
    width: 32%;
}

.my-bt {
    padding-left: 20px;
    padding-right: 20px;
}

.hover-caret:hover {
    cursor: text;
}

.hover-default {
    cursor: default;
}

.hover-pointer {
    cursor: pointer;
}

.my-left-align {
    text-align: left !important;
}

.my-right-align {
    text-align: right !important;
}

@media only screen and (min-width: 0) and (max-width: 1090px) {
    .my-bt {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.my-p-l-20 {
    padding-left: 20px;
}

@media only screen and (min-width:0) and (max-width: 533px) {
    .my-p-l-20 {
        padding-left: 7px;
    }
}

#picker-icon {
    color: black;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bt-color-common {
    background-color: #2196F3 !important;
}
