.tabs .tab a.active {
    color: #fdaf18;
}
.tabs .tab a {
    color: black;
}

.tabs .indicator {
    color: #fdaf18;
    background-color: #fdaf18;
}

.tabs .tab a:focus.active{
    background-color: white;
}

.white-background{
    background-color: white;
}

.yellow-logo-bg {
    background-color: #fdaf18;
}

.inline{
    display: inline;
}

.black-text{
    color: black;
}

.btn-large:hover {
    background-color: #fdaf18;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: black;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid black;
}

.fl-right{
    text-align: right;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #e9ecef;
}

.err{
    color: red;
}