
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="card">
    <div class="card-content">
        <i class="material-icons dp48">home</i><span>Home</span>
    </div>
</div>

