
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<style>
    .cell {
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .cell p, h3, .cell i {
        color: black;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .video-wrapper iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="card" style="padding: 50px">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="http://www.vnpost.vn/Portals/0/banner/Banner-Voi.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="http://www.vnpost.vn/Portals/0/banner/Banner%20iPostal.png"></a>
        <a class="carousel-item" href="#three!"><img src="http://www.vnpost.vn/Portals/0/banner/Banner%20Cong%20PostGreen.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="http://www.vnpost.vn/Portals/0/banner/BANNER%20POSTMART%2002.jpg"></a>
    </div>
    <br />
    <br />
    <div class="row center">
        <h3>Phương thức hoạt động</h3>
        <div class="col s12">
            <div class="cell col s3">
                <i class="large material-icons">border_color</i>
                <p>Người dân tạo đơn hàng mới</p>
            </div>
            <div class="cell col s3">
                <i class="large material-icons">swap_vert</i>
                <p>VNPost tiếp nhận đơn hàng</p>
            </div>
            <div class="cell col s3">
                <i class="large material-icons">local_shipping</i>
                <p>Lấy giấy tờ từ CQHC và chuyển giao giữa các bưu cục</p>
            </div>
            <div class="cell col s3">
                <i class="large material-icons">markunread_mailbox</i>
                <p>Gửi giấy tờ đến người dân</p>
            </div>
        </div>
        <div class="col s12 center">
            <br />
            <br />
            <h3>Video hướng dẫn sử dụng</h3>
            <div class="video-wrapper">
                <iframe width="560" height="315" src="@Html.Raw(ViewBag.video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


<script>
    $('.carousel').carousel({
        padding: 200,
        fullWidth: true
    });
    autoplay();
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }

    var cw = $('.cell').width();
    $('.cell').css({ 'height': cw + 'px' });
    var i = $('.cell i').height();
    $('.cell i').css({ 'padding-top' : (cw - i)*0.2 + 'px'})
</script>