
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="card">
    <div class="card-content">
        <row>
            <a href="/Home/Index">red</a>
        </row>
        
    </div>
</div>

