@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/preloader/Payment.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        @*Left*@
        <h4>Hình thức thanh toán</h4>
        <div class="col l9 s12">
            <div class="card card-shadow p-20 resize-card">

                @* Payment method *@
                <div>
                    <form action="#">
                        <p>
                            <label>
                                <input onclick="myFunction()" name="group1" id="r1" type="radio" checked />
                                <span>Thanh toán tiền mặt khi nhận hàng</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input onclick="myFunction()" name="group1" id="r2" type="radio" />
                                <span>Thanh toán bằng thẻ quốc tế Visa, Master, JCB</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input onclick="showBankList()" name="group1" id="r3" type="radio" />
                                <span>Thẻ ATM nội địa/Internet Banking</span>
                            </label>
                        </p>
                    </form>
                </div>

                @* Bank list *@
                <div class="bank-list">
                    <div class="row m-t-20">
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/1.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/2.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/3.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/4.png" />
                        </div>

                    </div>

                    <div class="row m-t-20">
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/5.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/6.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/7.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/8.png" />
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/9.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/10.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/11.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/12.png" />
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/13.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/14.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/15.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/16.png" />
                        </div>
                    </div>

                    <div class="row m-t-20">

                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/17.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/18.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/19.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/20.png" />
                        </div>
                    </div>

                    <div class="row m-t-20">

                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/21.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/22.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/23.png" />
                        </div>
                        <div class="col s6 l3 m2">
                            <img src="~/Content/BankLogo/24.png" />
                        </div>
                    </div>


                </div>
            </div>
        </div>

        @* Right *@
        <div class="col l3">
            <div class="row">
                <div class="card card-shadow p-20">
                    <div>
                        <p class="payment-title card-border">Địa chỉ đơn hàng</p>
                    </div>

                    <b class="payment-title">Nguyễn Vũ Minh</b>
                    <div>
                        <p>
                            FPT Software, khu công nghệ cao,
                            km29, đại lộ Thăng Long, Xã Thạch Hòa, huyện
                            Thạch Thất, Hà Nội Việt Nam
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card card-shadow p-20">
                    <div>
                        <p class="payment-title card-border">Đơn hàng</p>
                    </div>
                    <div>
                        <b class="payment-title m-b-25">Mã đơn hàng: MX20538</b>
                    </div>
                    <span>
                        <span>Thủ tục hành chính:</span>
                        <span>Xin cấp lại căn cước công dân</span>
                    </span>

                    <div>
                        <p>Thành tiền: 120,000 đồng <br />(Đã bao gồm VAT)</p>
                    </div>
                </div>
            </div>

            @* Button *@
            <div class="row d-flex justify-content-end m-t-40">
                <a href="/giay-hen/ma-giay-hen" class="waves-effect waves-light btn blue ju">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>

<script>function myFunction(){
        document.getElementsByClassName('bank-list')[0].style.display = "none";         // Function returns the product of a and b
    }
    if (document.getElementById("r1").checked == true) {
        document.getElementsByClassName('bank-list')[0].style.display = "none";
    }

    function showBankList() {
        document.getElementsByClassName('bank-list')[0].style.display = 'block';
    }</script>
