
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
 <link href="~/CustomCSS/TriHP.css" rel="stylesheet" />

<div class="container-fluid">
    
    <div class="row">
        @*Left*@ 
        <h4>Hình thức thanh toán</h4>     
        <div class="col l9 s12">
            <div class="card card-border p-30">
                
                @* Payment method *@
                <div>
                    <form action="#">
                        <p>
                            <label>
                                <input name="group1" type="radio" checked />
                                <span>Thanh toán tiền mặt khi nhận hàng</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>Thanh toán bằng thẻ quốc tế Visa, Master, JCB</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />
                                <span>Thẻ ATM nội địa/Internet Banking</span>
                            </label>
                        </p>
                        
                    </form>
                </div>

                @* Bank list *@
            <div>
                <div class="row">
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/1.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/2.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/3.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/4.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/5.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/6.jpg" />
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/7.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/8.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/9.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/10.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/11.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/12.jpg" />
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/13.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/14.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/15.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/16.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/17.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/18.jpg" />
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/19.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/20.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/21.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/22.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/23.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/24.jpg" />
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/25.jpg" />
                    </div>
                    <div class="col s4 l1 m2">
                        <img src="~/Content/BankImg/26.jpg" />
                    </div>
                </div>


            </div>

            </div>
        </div>

        @* Right *@
        <div class="col l3">
            <div class="row">
                <div class="card card-border p-5">
                    <div>
                        <p class="payment-title">Địa chỉ đơn hàng</p>
                    </div>

                    <b>Nguyễn Vũ Minh</b>
                    <div>
                        <p>
                        FPT Software, khu công nghệ cao,
                        km29, đại lộ Thăng Long, Xã Thạch Hòa, huyện 
                        Thạch Thất, Hà Nội Việt Nam
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card p-5 card-border">
                    <div>
                        <p class="payment-title">Đơn hàng</p>
                    </div>
                    <div>
                        <b>Mã đơn hàng: MX20538</b>
                    </div>
                    <p class="payment-title">Thủ tục hành chính</p>
                    <div>
                        <p>Thành tiền: 120,000 đồng <br />(Đã bao gồm VAT)</p>
                    </div>
                </div>
            </div>

            @* Button *@
            <div class="row d-flex justify-content-end m-t-40">
                <a class="waves-effect waves-light btn blue ju">Tiếp tục</a>
            </div>
        </div>

    </div>
</div>
