
@{
    ViewBag.Title = "ConfirmInfor";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="page-titles">
    <div class="d-flex align-items-center">
        <h5 class="font-medium m-b-0 pdleft">Phiếu gửi hồ sơ</h5>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body">
                        <div class="divider"></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn A</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">091234567</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Khu công nghệ cao, xã Thạch Hòa, huyện Thạch Thất, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Loại GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Chứng Minh Nhân Dân </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">12345</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Ngày cấp: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">10/10/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người gửi</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Thị B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">01234567890</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Mỹ Đình, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@gmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người nhận</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">0345671234</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Tố Hữu, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@fpt.vn</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin hồ sơ</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Tên cơ quan HCC: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Công an thành phố HN</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Địa chỉ CQHCC</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số 1, ngõ 2, Nguyễn Thái Học, Ba Đình</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Tên thủ tục:  </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Cấp mới CMT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số hồ sơ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">#98765</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin hồ sơ</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">1. Hộ khẩu thường trú (sổ hộ khẩu, sổ hộ khẩu gia đình hoặc giấy chứng nhận nhân khẩu tập thể đã được cấp)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số lượng: 1 (bản)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">2. CMND cũ nộp lại cho cơ quan Công an</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số lượng: 2 (bản)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div></div>
                    <div class="card-content">
                        <div class="form-action">
                            <button class="btn cyan waves-effect waves-light" type="submit" name="action">
                                Save
                            </button>
                            <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Code<i class="material-icons right">close</i></span>
                    <pre class="pre-scroll">
                    <code class="language-markup">
                                        &lt;form class=&quot;h-form b-form&quot;&gt;
                                &lt;div class=&quot;form-body&quot;&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;About Employee&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;f-name&quot;&gt;First Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;f-name&quot; type=&quot;text&quot; placeholder=&quot;First Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;l-name&quot;&gt;Last Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;l-name&quot; type=&quot;text&quot; placeholder=&quot;Last Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;uname&quot;&gt;Username&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;uname&quot; type=&quot;text&quot; placeholder=&quot;Username Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;nname&quot;&gt;Nick Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;nname&quot; type=&quot;text&quot; placeholder=&quot;Nick Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;Contact Info &amp; Bio&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;email2&quot;&gt;Email&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;email2&quot; type=&quot;text&quot; placeholder=&quot;Email Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;website&quot;&gt;Website&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;website&quot; type=&quot;text&quot; placeholder=&quot;http://&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;cnno&quot;&gt;Contact No&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;cnno&quot; type=&quot;text&quot; placeholder=&quot;Contact No Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;bio&quot;&gt;Bio&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;textarea id=&quot;bio&quot; class=&quot;materialize-textarea&quot; placeholder=&quot;Bio Here&quot;&gt;&lt;/textarea&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                &lt;div class=&quot;card-content&quot;&gt;
                                    &lt;div class=&quot;form-action&quot;&gt;
                                        &lt;button class=&quot;btn cyan waves-effect waves-light&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Save
                                        &lt;/button&gt;
                                        &lt;button class=&quot;btn waves-effect waves-light grey darken-4&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Cancel
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;
                                    </code>
                                </pre>
                </div>
            </div>
        </div>
    </div>
</div>

