
@{
    ViewBag.Title = "DisplayCode";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/InvitationCard/DisplayCode.css" rel="stylesheet" />
<h1 class="big-title">Phiếu gửi hồ sơ</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card p-b-40">
                <div class="card-content" style="display: block;">
                    <div class="centerDisplayCode">
                        <i class="material-icons dp48 img-icon green-text">check_circle</i>
                        <h2 class="page-height">Đã tiếp nhận thông tin giấy hẹn</h2>
                        <h4 class="page-height">Chúng tôi đã gửi thông tin chi tiết về đơn hàng qua địa chỉ email: <b> fpt@gmail.com </b></h4>
                    </div>
                </div>
                <h4 class="p-20"><b>Thông tin đơn hàng:</b></h4>
                <div class="page-content form-body black-text">
                    <div class="row">
                        <div class="container-fluid col s12">
                            <div class="row p-20">
                                <div class="col s12 l3">
                                    Mã đơn hàng:
                                </div>
                                <div class="col s12 l3">
                                    <b>MX20538</b>
                                </div>
                                <div class="col s12 l3">
                                    VAT:
                                </div>
                                <div class="col s12 l3">
                                    <b>4.363(đồng)</b>
                                </div>
                            </div>
                            <div class="row p-20">
                                <div class="col s12 l3">
                                    Phí, lệ phí thủ tục hành chính:
                                </div>
                                <div class="col s12 l3">
                                    <b>35.000(đồng)</b>
                                </div>
                                <div class="col s12 l3">
                                    Tổng tiền:
                                </div>
                                <div class="col s12 l3">
                                    <b>83.000(đồng)</b>
                                </div>
                            </div>
                            <div class="row p-20">
                                <div class="col s12 l3">
                                    Cước dịch vụ:
                                </div>
                                <div class="col s12 l3">
                                    <b>43.323(đồng)</b>
                                </div>
                                <div class="col s12 l3">
                                    Bằng chữ:
                                </div>
                                <div class="col s12 l3">
                                    <b><i>Tám mươi ba nghìn đồng</i></b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-40">
                        <div class="col s12 align-self-center">
                            <div class="row">
                                <a href="/giay-hen/trang-thai-giay-hen">
                                    <button class="btn btn-secondary col l2 offset-l9 offset-s1 cyan" type="submit" name="action">
                                        <b>Xem trạng thái đơn hàng</b>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

