
@{
    ViewBag.Title = "DisplayCode";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/InvitationCard/display_Code.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card p-b-40">
                <div class="card-content" style="display: block;">
                    <div class="center">
                        <i class="material-icons dp48 img-icon green-text">check_circle</i>
                        <h3><b>Thông tin đã được gửi đến bộ phận tiếp nhận</b></h3>
                        <h4>Chúng tôi đã gửi thông tin chi tiết về đơn hàng qua địa chỉ email: <b> fpt@gmail.com </b></h4>
                    </div>
                </div>
                <div class="page-content form-body black-text">
                    <div class="row p-t-40">
                        <div class="col s11 align-self-center">
                            <div class="row">
                                <a href="/giay-hen/trang-thai-giay-hen">
                                    <button class="my-blue-btn btn btn-secondary col l3 offset-l9 offset-s2" type="submit" name="action">
                                        <b>Xem trạng thái đơn hàng</b>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

