@{
    ViewBag.Title = "DisplayStatus";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">


<div class="container-fluid">
    
    <div class="row">

        <div class="col s12">
            <h2 class="status-title">Trạng thái đơn hàng</h2>
            <div class="card">

                <div class="card father-display-status">
                    <div class="ClearFix">
                        <p class="code-order">Mã đơn hàng: #12345678</p>
                    </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content wizard-content">
                                <h5 class="card-title">Custom Design Example</h5>
                                <h6 class="card-subtitle"></h6>
                                <form action="#" class="tab-wizard wizard-circle">
                                    <!-- Step 1 -->
                                    <h6>Personal Info</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="firstName1" type="text">
                                                    <label for="firstName1" class="">First Name :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="lastName1" type="text">
                                                    <label for="lastName1" class="">Last Name :</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="emailAddress1" type="email">
                                                    <label for="emailAddress1" class="">Email Address :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="phoneNumber1" type="tel">
                                                    <label for="phoneNumber1" class="">Phone Number :</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <select id="location1" name="location">
                                                        <option value="" disabled selected>Choose your City</option>
                                                        <option value="1">India</option>
                                                        <option value="2">USA</option>
                                                        <option value="3">Dubai</option>
                                                    </select>
                                                    <label for="location1">Select City :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="date1" type="text" class="validate datepicker">
                                                    <label for="date1">Date of Birth :</label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 2 -->
                                    <h6>Job Status</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="jobTitle1" type="text">
                                                    <label for="jobTitle1" class="">Job Title :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="videoUrl1" type="text">
                                                    <label for="videoUrl1" class="">Company Name :</label>
                                                </div>
                                            </div>
                                            <div class="col m12">
                                                <div class="input-field col s12">
                                                    <input id="shortDescription1" name="shortDescription" type="text">
                                                    <label for="shortDescription1" class="">Job Description :</label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 3 -->
                                    <h6>Interview</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="int1" name="shortDescription" type="text">
                                                    <label for="int1" class="">Interview For :</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <select id="type1" name="types">
                                                        <option value="" disabled selected>Choose Type</option>
                                                        <option value="1">Normal</option>
                                                        <option value="2">Difficult</option>
                                                        <option value="3">Hard</option>
                                                    </select>
                                                    <label for="type1">Interview Type :</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <select id="typ2" name="city">
                                                        <option value="" disabled selected>Select City</option>
                                                        <option value="i">India</option>
                                                        <option value="u">USA</option>
                                                        <option value="d">Dubai</option>
                                                    </select>
                                                    <label for="typ2">Location :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="jobTitle2" type="text" class="validate datepicker">
                                                    <label for="jobTitle2">Interview Date :</label>
                                                </div>
                                                <div class="col s12">
                                                    <label>Requirements :</label>
                                                    <p>
                                                        <label>
                                                            <input name="group1" type="radio" />
                                                            <span>Employee</span>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label>
                                                            <input name="group1" type="radio" />
                                                            <span>Contract</span>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 4 -->
                                    <h6>Remark</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="beh1" type="text">
                                                    <label for="beh1" class="">Behaviour :</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="participants1" type="text">
                                                    <label for="participants1" class="">Confidance :</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <select id="typ3" name="city">
                                                        <option value="" disabled selected>Select Result</option>
                                                        <option value="s">Selected</option>
                                                        <option value="r">Rejected</option>
                                                        <option value="c">Call Second-time</option>
                                                    </select>
                                                    <label for="typ3">Result :</label>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="input-field col s12">
                                                    <input id="decisions1" type="text">
                                                    <label for="decisions1" class="">Comments :</label>
                                                </div>
                                                <div class="col s12">
                                                    <label>Rate Interviwer :</label>
                                                    <p>
                                                        <label>
                                                            <input name="group2" type="radio" />
                                                            <span>1 star</span>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label>
                                                            <input name="group2" type="radio" />
                                                            <span>2 star</span>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label>
                                                            <input name="group2" type="radio" />
                                                            <span>3 star</span>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label>
                                                            <input name="group2" type="radio" />
                                                            <span>4 star</span>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label>
                                                            <input name="group2" type="radio" />
                                                            <span>5 star</span>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                    <h3>Chi tiết trạng thái đơn hàng</h3>
                    <div class="card detailOrder">
                        <div class="gray-line line">Cập nhật mới nhất: Thứ tư, 16/10/2019</div>
                        <div class="line">Đang đi lấy hồ sơ</div>
                        <div class="gray-line line">Thứ 3, 15/10/2019</div>
                        <div class="line">
                            <div>10:05 Xác nhận thông tin giấy hẹn thành công</div>
                            <div>10:00 Đã tiếp nhận thông tin giấy hẹn</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="page-titles">
        <div class="d-flex align-items-center">
            <h5 class="font-medium m-b-0 pdleft">Phiếu gửi hồ sơ</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <form class="h-form b-form">
                    <div class="form-body">
                        <div class="divider"></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn A</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">091234567</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Khu công nghệ cao, xã Thạch Hòa, huyện Thạch Thất, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Loại GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Chứng Minh Nhân Dân </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">12345</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Ngày cấp: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">10/10/2019</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người gửi</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Thị B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">01234567890</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Mỹ Đình, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@gmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin người nhận</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Nguyễn Văn B</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">0345671234</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Nhà số 191, Tố Hữu, Hà Nội</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Email:</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">email@fpt.vn</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin hồ sơ</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Tên cơ quan HCC: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">Công an thành phố HN</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Địa chỉ CQHCC</label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số 1, ngõ 2, Nguyễn Thái Học, Ba Đình</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Tên thủ tục:  </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="uname">Cấp mới CMT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">Số hồ sơ: </label>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="nname">#98765</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div class="card-content">
                            <h6 class="font-medium">Thông tin hồ sơ</h6>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">1. Hộ khẩu thường trú (sổ hộ khẩu, sổ hộ khẩu gia đình hoặc giấy chứng nhận nhân khẩu tập thể đã được cấp)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số lượng: 1 (bản)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="f-name">2. CMND cũ nộp lại cho cơ quan Công an</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="row">
                                        <div class="col s3">
                                            <div class="h-form-label">
                                                <label for="l-name">Số lượng: 2 (bản)</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div></div>
                    <div class="card-content">
                        <div class="form-action">
                            <button class="btn cyan waves-effect waves-light" type="submit" name="action">
                                Save
                            </button>
                            <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Code<i class="material-icons right">close</i></span>
                    <pre class="pre-scroll">
                    <code class="language-markup">
                                        &lt;form class=&quot;h-form b-form&quot;&gt;
                                &lt;div class=&quot;form-body&quot;&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;About Employee&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;f-name&quot;&gt;First Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;f-name&quot; type=&quot;text&quot; placeholder=&quot;First Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;l-name&quot;&gt;Last Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;l-name&quot; type=&quot;text&quot; placeholder=&quot;Last Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;uname&quot;&gt;Username&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;uname&quot; type=&quot;text&quot; placeholder=&quot;Username Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;nname&quot;&gt;Nick Name&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;nname&quot; type=&quot;text&quot; placeholder=&quot;Nick Name Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                    &lt;div class=&quot;card-content&quot;&gt;
                                        &lt;h6 class=&quot;font-medium&quot;&gt;Contact Info &amp; Bio&lt;/h6&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;email2&quot;&gt;Email&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;email2&quot; type=&quot;text&quot; placeholder=&quot;Email Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;website&quot;&gt;Website&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;website&quot; type=&quot;text&quot; placeholder=&quot;http://&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col s12 l6&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;cnno&quot;&gt;Contact No&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;input id=&quot;cnno&quot; type=&quot;text&quot; placeholder=&quot;Contact No Here&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col s3&quot;&gt;
                                                        &lt;div class=&quot;h-form-label&quot;&gt;
                                                            &lt;label for=&quot;bio&quot;&gt;Bio&lt;/label&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;input-field col s9&quot;&gt;
                                                        &lt;textarea id=&quot;bio&quot; class=&quot;materialize-textarea&quot; placeholder=&quot;Bio Here&quot;&gt;&lt;/textarea&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;divider&quot;&gt;&lt;/div&gt;
                                &lt;div class=&quot;card-content&quot;&gt;
                                    &lt;div class=&quot;form-action&quot;&gt;
                                        &lt;button class=&quot;btn cyan waves-effect waves-light&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Save
                                        &lt;/button&gt;
                                        &lt;button class=&quot;btn waves-effect waves-light grey darken-4&quot; type=&quot;submit&quot; name=&quot;action&quot;&gt;Cancel
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;
                                    </code>
                                </pre>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="../../assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script>
    //Basic Example
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });

    // Basic Example with form
    var form = $("#example-form");
    form.validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
        rules: {
            confirm: {
                equalTo: "#password"
            }
        }
    });
    form.children("div").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function(event, currentIndex, newIndex) {
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onFinishing: function(event, currentIndex) {
            form.validate().settings.ignore = ":disabled";
            return form.valid();
        },
        onFinished: function(event, currentIndex) {
            alert("Submitted!");
        }
    });

    // Advance Example

    var form = $("#example-advanced-form").show();

    form.steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        transitionEffect: "slideLeft",
        onStepChanging: function(event, currentIndex, newIndex) {
            // Allways allow previous action even if the current form is not valid!
            if (currentIndex > newIndex) {
                return true;
            }
            // Forbid next action on "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                return false;
            }
            // Needed in some cases if the user went back (clean up)
            if (currentIndex < newIndex) {
                // To remove error styles
                form.find(".body:eq(" + newIndex + ") label.error").remove();
                form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
            }
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onStepChanged: function(event, currentIndex, priorIndex) {
            // Used to skip the "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                form.steps("next");
            }
            // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                form.steps("previous");
            }
        },
        onFinishing: function(event, currentIndex) {
            form.validate().settings.ignore = ":disabled";
            return form.valid();
        },
        onFinished: function(event, currentIndex) {
            alert("Submitted!");
        }
    }).validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
        rules: {
            confirm: {
                equalTo: "#password-2"
            }
        }
    });

    // Dynamic Manipulation
    $("#example-manipulation").steps({
        headerTag: "h3",
        bodyTag: "section",
        enableAllSteps: true,
        enablePagination: false
    });

    //Vertical Steps

    $("#example-vertical").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        stepsOrientation: "vertical"
    });

    //Custom design form example
    $(".tab-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            finish: "Submit"
        },
        onFinished: function(event, currentIndex) {
            swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

        }
    });


    var form = $(".validation-wizard").show();

    $(".validation-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            finish: "Submit"
        },
        onStepChanging: function(event, currentIndex, newIndex) {
            return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
        },
        onFinishing: function(event, currentIndex) {
            return form.validate().settings.ignore = ":disabled", form.valid()
        },
        onFinished: function(event, currentIndex) {
            swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
        }
    }), $(".validation-wizard").validate({
        ignore: "input[type=hidden]",
        errorClass: "text-danger",
        successClass: "text-success",
        highlight: function(element, errorClass) {
            $(element).removeClass(errorClass)
        },
        unhighlight: function(element, errorClass) {
            $(element).removeClass(errorClass)
        },
        errorPlacement: function(error, element) {
            error.insertAfter(element)
        },
        rules: {
            email: {
                email: !0
            }
        }
    })
</script>

   

