
@{
    ViewBag.Title = "DisplayStatus";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<h2 class="status-order">Trạng thái đơn hàng</h2>
<div class="card father-display-status">
    <p>Mã đơn hàng: #12345678</p>
    <h3>Chi tiết trạng thái đơn hàng</h3>
    <div class="card detailOrder">
        <div class="gray-line line">Cập nhật mới nhất: Thứ tư, 16/10/2019</div>
        <div class="line">Đang đi lấy hồ sơ</div>
        <div class="gray-line line">Thứ 3, 15/10/2019</div>
        <div class="line">
            <div>10:05 Xác nhận thông tin giấy hẹn thành công</div>
            <div>10:00 Đã tiếp nhận thông tin giấy hẹn</div>
        </div>
        
    </div>
</div>




