
@{
    ViewBag.Title = "DisplayStatus";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


    <div class="center">
        <h4>Tra cứu giấy hẹn</h4>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập mã giấy hẹn để kiểm tra tình trạng">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        



    </div>

