
@{
    ViewBag.Title = "InputSenderInfo";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />

<div class="container-fluid input-sender-main">

    <div class="row">
        <!--wizard form-->
        <div class="col s12">
            <div class="card">
                <div class="card-content wizard-content">
                    <form action="#" class="tab-wizard wizard-circle">
                        <!-- Step 1 -->
                        <h6>Thông tin thủ tục</h6>
                        <section></section>
                        <!-- Step 2 -->
                        <h6>Thông tin người yêu cầu giải quyết TTHC</h6>
                        <section></section>
                        <!-- Step 3 -->
                        <h6>Thông tin người gửi</h6>
                        <section></section>
                        <!-- Step 4 -->
                        <h6>Thông tin người nhận</h6>
                        <section></section>
                    </form>
                </div>
            </div>
        </div>


        <!--end wizard form-->
        <h2 class="big-title m-t-0 col s12">3. Thông tin người gửi</h2>
        <div class="col s12">
            <div class="card">
                <div class="card p-25">
                    <div class="row">
                        <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                        <div class="col s12 m-b-40">
                            <div class="info-list-div ">
                                <div class="row">
                                    <p class="content-text font-bold col s12">Nguyễn Vũ Minh</p>
                                    <p class="content-text col s12">Địa chỉ: KDC số 28, thôn Thạch Thang, xã Đức Phong, huyễn Mộ Đức, tỉnh Quảng Ngãi</p>
                                    <p class="content-text col s12">Số điện thoại: 0829018592</p>
                                    <p class="col s12 m-t-15">
                                        <span class="row">
                                            <button class="col s2 btn waves-effect waves-light bt-color-common" type="submit">
                                                Sử dụng thông tin này
                                            </button>
                                            <button class="col offset-s1 s1 btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit">
                                                Sửa
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m-b-40">
                            <div class="info-list-div">
                                <div class="row">
                                    <p class="content-text font-bold col s12">Nguyễn Vũ Minh</p>
                                    <p class="content-text col s12">Địa chỉ: KDC số 28, thôn Thạch Thang, xã Đức Phong, huyễn Mộ Đức, tỉnh Quảng Ngãi</p>
                                    <p class="content-text col s12">Số điện thoại: 0829018592</p>
                                    <p class="col s12 m-t-15">
                                        <span class="row">
                                            <button class="col l2 s12 btn waves-effect waves-light bt-color-common s-m-b-20" type="submit">
                                                Sử dụng thông tin này
                                            </button>
                                            <button class="col offset-l1 l1 s12 btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit">
                                                Sửa
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <p class="col s12 big-heading m-b-15">
                            Bạn muốn sử dụng thông tin khác?
                            <span class="light-blue-text hover-pointer hover-underline">
                                Nhập thông tin mới
                            </span>
                        </p>
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <div class="input-field row">
                                        <p class="col l2 m2 p-t-10 s12">Họ và tên:</p>
                                        <div class="col l6 m6 s12">
                                            <input id="con1" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <div class="input-field row">
                                        <p class="col l2 m2 p-t-10 s12">Số điện thoại:</p>
                                        <div class="col l6 m6 s12">
                                            <input id="con1" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <div class="row">
                                        <div class="col l2 m2 p-t-10 s12 ">Tỉnh/Thành phố:</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1" class="card-border">
                                                <option value="1" selected>Hà Nội</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <div class="select-wrapper row">
                                        <div class="col l2 m2 p-t-10 s12 ">Quận/Huyện:</div>
                                        <div class="col l6 m6 s12">
                                            <select tabindex="-1" class="card-border">
                                                <option value="1" selected>Quận Thạch Thất</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <div class="select-wrapper row">
                                        <div class="col l2 m2 p-t-10 s12 ">Địa chỉ:</div>
                                        <div class="col l6 m6 s12">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="../../dist/js/custom.min.js"></script>
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

<script>


    //Custom design form example
    $(".tab-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
    });
    $(document).ready(function () {
        $(".actions").remove();
    })
    ////Basic Example
    //$("#example-basic").steps({
    //    headerTag: "h3",
    //    bodyTag: "section",
    //    transitionEffect: "slideLeft",
    //    autoFocus: true
    //});

    //// Basic Example with form
    //var form = $("#example-form");
    //form.validate({
    //    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    //    rules: {
    //        confirm: {
    //            equalTo: "#password"
    //        }
    //    }
    //});
    //form.children("div").steps({
    //    headerTag: "h3",
    //    bodyTag: "section",
    //    transitionEffect: "slideLeft",
    //    onStepChanging: function(event, currentIndex, newIndex) {
    //        form.validate().settings.ignore = ":disabled,:hidden";
    //        return form.valid();
    //    },
    //    onFinishing: function(event, currentIndex) {
    //        form.validate().settings.ignore = ":disabled";
    //        return form.valid();
    //    },
    //    onFinished: function(event, currentIndex) {
    //        alert("Submitted!");
    //    }
    //});

    //// Advance Example

    //var form = $("#example-advanced-form").show();

    //form.steps({
    //    headerTag: "h3",
    //    bodyTag: "fieldset",
    //    transitionEffect: "slideLeft",
    //    onStepChanging: function(event, currentIndex, newIndex) {
    //        // Allways allow previous action even if the current form is not valid!
    //        if (currentIndex > newIndex) {
    //            return true;
    //        }
    //        // Forbid next action on "Warning" step if the user is to young
    //        if (newIndex === 3 && Number($("#age-2").val()) < 18) {
    //            return false;
    //        }
    //        // Needed in some cases if the user went back (clean up)
    //        if (currentIndex < newIndex) {
    //            // To remove error styles
    //            form.find(".body:eq(" + newIndex + ") label.error").remove();
    //            form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
    //        }
    //        form.validate().settings.ignore = ":disabled,:hidden";
    //        return form.valid();
    //    },
    //    onStepChanged: function(event, currentIndex, priorIndex) {
    //        // Used to skip the "Warning" step if the user is old enough.
    //        if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
    //            form.steps("next");
    //        }
    //        // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
    //        if (currentIndex === 2 && priorIndex === 3) {
    //            form.steps("previous");
    //        }
    //    },
    //    onFinishing: function(event, currentIndex) {
    //        form.validate().settings.ignore = ":disabled";
    //        return form.valid();
    //    },
    //    onFinished: function(event, currentIndex) {
    //        alert("Submitted!");
    //    }
    //}).validate({
    //    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    //    rules: {
    //        confirm: {
    //            equalTo: "#password-2"
    //        }
    //    }
    //});

    //// Dynamic Manipulation
    //$("#example-manipulation").steps({
    //    headerTag: "h3",
    //    bodyTag: "section",
    //    enableAllSteps: true,
    //    enablePagination: false
    //});

    ////Vertical Steps

    //$("#example-vertical").steps({
    //    headerTag: "h3",
    //    bodyTag: "section",
    //    transitionEffect: "slideLeft",
    //    stepsOrientation: "vertical"
    //});

    ////Custom design form example
    //$(".tab-wizard").steps({
    //    headerTag: "h6",
    //    bodyTag: "section",
    //    transitionEffect: "fade",
    //    titleTemplate: '<span class="step">#index#</span> #title#',
    //    labels: {
    //        finish: "Submit"
    //    },
    //    onFinished: function(event, currentIndex) {
    //        swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

    //    }
    //});


    //var form = $(".validation-wizard").show();

    //$(".validation-wizard").steps({
    //    headerTag: "h6",
    //    bodyTag: "section",
    //    transitionEffect: "fade",
    //    titleTemplate: '<span class="step">#index#</span> #title#',
    //    labels: {
    //        finish: "Submit"
    //    },
    //    onStepChanging: function(event, currentIndex, newIndex) {
    //        return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
    //    },
    //    onFinishing: function(event, currentIndex) {
    //        return form.validate().settings.ignore = ":disabled", form.valid()
    //    },
    //    onFinished: function(event, currentIndex) {
    //        swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
    //    }
    //}), $(".validation-wizard").validate({
    //    ignore: "input[type=hidden]",
    //    errorClass: "text-danger",
    //    successClass: "text-success",
    //    highlight: function(element, errorClass) {
    //        $(element).removeClass(errorClass)
    //    },
    //    unhighlight: function(element, errorClass) {
    //        $(element).removeClass(errorClass)
    //    },
    //    errorPlacement: function(error, element) {
    //        error.insertAfter(element)
    //    },
    //    rules: {
    //        email: {
    //            email: !0
    //        }
    //    }
    //})
</script>

