@{
    ViewBag.Title = "InputInformationScreen21";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}



<script src="~/CustomJS/InputInforScreen21.js"></script>
<link href="~/CustomCSS/InvitationCard/InputInforScreen21.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />

<style>
    .datepicker {
        z-index: 9999;
    }

    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    ul.dropdown-content {
        position: fixed !important;
        z-index: 9999;
    }

    .dropzone .dz-preview .dz-image {
        margin: auto;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: #29bb22 !important;
        background: linear-gradient(to bottom, #7ceb69, #29bb22) !important;
        /*position: absolute;*/
        top: 0;
        bottom: 0;
        width: 0;
        /*-webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;*/
    }

    .wizard > .actions {
        padding-top: 30px !important;
    }

    .dz-preview.dz-processing.dz-success.dz-complete.dz-image-preview {
        margin: 0px !important;
        display: block;
    }
    /*.dropzone .dz-preview .dz-image {
        width: 250px !important;
        height: 250px !important;
    }*/
    #item5-error {
        color: white;
    }

    .wizard-content .wizard > .steps > ul > li.current .step {
        border-color: #fcaf17 !important;
        background-color: #fff !important;
        color: #fcaf17 !important;
    }

    .wizard-content .wizard > .steps > ul > li.done .step {
        background-color: #fcaf17 !important;
        border-color: #fcaf17 !important;
    }

    .wizard-content .wizard.wizard-circle > .steps > ul > li.current:after, .wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:after, .wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:before {
        background-color: #F3F3F3 !important;
    }

    .wizard-content .wizard.wizard-circle > .steps > ul > li:after, .wizard-content .wizard.wizard-circle > .steps > ul > li:before {
        background-color: #fcaf17 !important;
    }

    .wizard-content .wizard > .actions > ul > li > a {
        background: #fcaf17 !important;
    }

        .wizard-content .wizard > .actions > ul > li > a[href="#previous"] {
            background-color: #fff !important;
        }

    .summary-label {
        font-weight: bold !important;
    }
    /*.summary-content{
        font-style:italic !important;
    }*/
    .wizard > .content > .body label[hidden] {
        display: none !important;
    }

    .dropzone .dz-preview:hover .dz-image img {
        -webkit-filter: blur(0px) !important;
        filter: blur(0px) !important;
    }

    .validation {
        color: red;
    }
</style>
<div class="container-fluid">
    <div class="col s12">
        <div class="card">
            <div class="card-content wizard-content">
                <h2 class="card-title">Tạo giấy hẹn mới</h2>
                <form id="myform" action="/giay-hen/nhap-giay-hen/thong-tin-thu-tuc" method="post" class="validation-wizard wizard-circle m-t-40">
                    <section>
                        <div class="row">
                            <div class="col s12 l12">
                                <br />
                                <label>Ảnh chụp giấy hẹn (dung lượng tối đa 5Mb) <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                <div class="input-field center">
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateLeft()"><i class="material-icons">rotate_left</i></a>
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateRight()"><i class="material-icons">rotate_right</i></a>
                                </div>
                                <div action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                                    <div class="fallback">
                                        <input type="file" id="fUpload" class="form-control" single accept="image/*;capture=camera" />
                                    </div>
                                    <div class="dz-message needsclick">
                                        <i class="medium material-icons dp48">cloud_upload</i>
                                        <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                        <span class="text-muted font-13">(File hợp lệ: jpg, png)</span>
                                    </div>
                                </div>
                                <p class="validation" name="item6"></p>
                            </div>
                        </div>
                    </section>
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit">
                            Tiếp tục
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/uploader/dropzoneMultiple.js"></script>

<script>
    var UserInvitation = {}
    var CreateInvitation = {}

    /*
     if (!!$.cookie('CreateInvitation')) {
        CreateInvitation = JSON.parse($.cookie('CreateInvitation'))
        var UserProvinceCode = CreateInvitation.UserProvinceCode
        var UserDistrictsID = CreateInvitation.PostalDistrictCode
        var UserAdminLocationID = CreateInvitation.UserAdminLocationID
        var UserProfileID = CreateInvitation.UserProfileID
    } else {
        var UserProvinceCode = "";
        var UserDistrictsID = "";
        var UserAdminLocationID = ""
        var UserProfileID = ""
    }
    */

    var dist = ''
    var type = "";
    var validate1 = false;
    var validate2 = false;
    var validate3 = false;

    var data1 = new FormData();

</script>

<script>
    //Create by TUANKQ, THANGDV
Dropzone.options.myAwesomeDropzone = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 6, // MB
    addRemoveLinks: true,
    autoProcessQueue: true,
    dictRemoveFile: 'Hủy',
    clickable: true,
    acceptedFiles: "image/jpeg,image/png,image/gif,image/jpg,image/bmp",
    maxFiles: 10,
    thumbnailWidth: null,
    thumbnailHeight: null,
    uploadMultiple: true,
    parallelUploads: 10,
    maxfilesexceeded: function() {
        var myDropzone = this;
        myDropzone.removeAllFiles();
    },
    init: function () {
        this.on("addedfile", function (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var extension = event.target.result.split(';')[0].split('/')[1];
                if (!(extension == 'jpeg' || extension == 'png' || extension == 'gif' || extension == 'bmp' || extension == 'jpg')) {
                    $('p[name="item6"]').text('Ảnh chụp giấy hẹn chưa đúng định dạng')
                    return;
                }
                $('p[name="item6"]').text('')
                var base64String = event.target.result;
                $('#c').attr("src", base64String);
            };
            reader.readAsDataURL(file);
            if (this.files.length > 1) {
                for (var i = 0; i < this.files.length; i++){
                        this.removeFile(this.files[i]);
                }
            }
        });
        this.on("removedfile", function () {
            data1.delete("img")
            data1.delete("imgName")
        });
        this.on("thumbnail", function (file, dataUrl) {
            $('.dz-image').last().find('img').attr({ width: '100%', height: '100%' });
        }),
        this.on("success", function (file) {
            $('.dz-image').css({ "width": "100%", "height": "auto" });
        })
        var myDropzone = this;
        $("#btnUpload3").click(function (e) {
            e.preventDefault();
            myDropzone.processQueue();
        });
        this.on('sending', function (file, xhr, formData) {
            data1.append("img", file);
            data1.append("imgName", file.name)
        });
    },
    dictResponseError: "Lỗi (Code: {{statusCode}})",
    dictFileTooBig: "Kích cỡ file quá lớn ({{filesize}}MB). Kích cỡ file tối đa: {{maxFilesize}}MB ",
    dictInvalidFileType: "File không hợp lệ",
};

</script>
<script>
    function rotateRight() {
        if (data1.get("img") == null) return;
        $('#pre-load').show();
        data1.delete("img")
        var image = new Image();
        image.src = $('img[data-dz-thumbnail]').attr("src");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(90 * Math.PI / 180);
            ctx.translate(0, -canvas.width);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('img[data-dz-thumbnail]').attr("src", URL);
            $('#c').attr("src", URL);
            dataURItoBlob(URL);
        };
    }

    function rotateLeft() {
        if (data1.get("img") == null) return;
        $('#pre-load').show();
        data1.delete("img")
        var image = new Image();
        image.src = $('img[data-dz-thumbnail]').attr("src");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(270 * Math.PI / 180);
            ctx.translate(-canvas.height, 0);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('img[data-dz-thumbnail]').attr("src", canvas.toDataURL());
            $('#c').attr("src", URL);
            dataURItoBlob(URL);
        };
    }

    function dataURItoBlob(dataURI) {
        var blobBin = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var file = new Blob([new Uint8Array(array)], { type: mimeString });
        data1.append("img", file);
        $('#pre-load').hide();
    }
</script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>