
@{
    ViewBag.Title = "SearchStatus";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

    <div class="center">
        <h4>Tra cứu giấy hẹn</h4>
        
        <div class="input-group m-t-10">
            <div class="row">
                <input type="text" class="form-control col l11" placeholder="Nhập mã giấy hẹn để kiểm tra tình trạng">
                <div class="input-group-append col">
                    
                        <button class="btn btn-secondary" type="button">
                            <a href="/giay-hen/trang-thai-giay-hen"><i class="fa fa-search"></i></a>
                        </button>
                        
                </div>
            </div>
        </div>





    </div>

