@{
    ViewBag.Title = "SearchStatus";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<link href="~/CustomCSS/preloader/Search.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />

<div class="card p-5 search-card" style="margin-top: 20%; width: 100%;">
    <div class="input-group m-t-0 p-l-10 p-r-15">
        <h5 class="center">Tra cứu giấy hẹn</h5>
        <div class="row">

            <input id="input" type="text" class="form-control col offset-l3 offset-s1 l6 s7 my-form" style="border: 2px solid #e9ecef;"
                   placeholder="Nhập mã giấy hẹn để kiểm tra tình trạng" onclick="changeColor()" onfocusout="loseFocus()">
            <button class="align-self-stretch btn btn-secondary input-group-append my-btn" type="button">
                <a href="/giay-hen/trang-thai-giay-hen" class="col l2 s1"> <i class="fa fa-search" style="color: #b2b9bf;"></i></a>
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">
    function changeColor() {
        document.getElementById("input").style.border = "0.5px solid #000000";

    }

    function loseFocus() {

        document.getElementById("input").style.border = "0.5px solid #e9ecef";

    }
</script>