
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}
@*<link href="~/CustomCSS/preloader/Search.css" rel="stylesheet" />*@
<link href="~/assets/Custom css/Mobile/home-css.css" rel="stylesheet" />
<style>
       .icons-description i {
        color: #fcaf17
    }
       .display-inline-flex{
           display:inline-flex;
       }
       .margin20{
           margin:20px;
       }
</style>
<div class="home-container">
    <div class="row center home-container">
        <div class="col l12 s12 m12">
            <h4 class="big-title" style="    color: #fcaf17 !important; font-weight: 600;">HỆ THỐNG TIẾP NHẬN HỒ SƠ HÀNH CHÍNH CÔNG</h4>
        </div>
        <div class="col l12 s12 m12">
            <blockquote class="big-description description">
                <b>
                    VNPost là doanh nghiệp được Nhà nước giao nhiệm vụ tiếp nhận hồ sơ và chuyển trả kết quả giải quyết thủ tục hành chính cho các cơ quan quản lý nhà nước có thẩm quyền giải quyết thủ tục hành chính.
                </b>
            </blockquote>
        </div>
    </div>
    <div class="row center home-container">
        <h4 class="big-title">MÔ TẢ DỊCH VỤ</h4>
        <hr />
        <div class="row icons-description-container description">
            <div class="col l12 s12 m12">
                <div class=" col s12 l2 m2 icons-description display-inline-flex" >
                    <i class="small material-icons margin20">border_color</i>
                    <p class="margin20">Người dân tạo đơn hàng mới</p>
                </div>
                @*<div class="col s12 l1 m1">
                    <i class="material-icons dp48 arrow">more_vert</i>
                </div>*@
                <div class=" col s12 l2 m2 icons-description display-inline-flex">
                    <i class="small material-icons margin20 ">swap_vert</i>
                    <p class="margin20">VNPost tiếp nhận đơn hàng</p>
                </div>
                @*<div class="col s12 l1 m1">
                    <i class="material-icons dp48 arrow">more_vert</i>
                </div>*@
                <div class=" col s12 l2 m2 icons-description display-inline-flex">
                    <i class="small material-icons margin20">local_shipping</i>
                    <p class="margin20" style="text-align:left!important">Lấy giấy tờ từ CQHC và chuyển giao giữa các bưu cục</p>
                </div>
                @*<div class="col s12 l1 m1">
                    <i class="material-icons dp48 arrow">more_vert</i>
                </div>*@
                <div class=" col s12 l2 m2 icons-description display-inline-flex">
                    <i class="small material-icons margin20">markunread_mailbox</i>
                    <p class="margin20">Gửi giấy tờ đến người dân</p>
                </div>
            </div>
        </div>
    </div>
    @*<label>CHI NHÁNH VNPOST</label>
    <hr />
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2965577586438!2d105.7896297149097!3d21.020816793425443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab5c3effa1c7%3A0x1937123124c20e8f!2zQsawdSBD4bulYyBT4buRIDEgVm5Qb3N0IChFTVMp!5e0!3m2!1svi!2s!4v1573963927430!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

    <label>TIN TỨC</label>
    <hr />
    <p align="justify">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>*@

    <label>HỖ TRỢ</label>
    <hr />
    <label>HƯỚNG DẪN</label>
</div>

