.center {
    margin: 15% auto;
    width: 90%;
}

.card-border {
    border: 1px solid black;
}

.payment-title {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
}

img {
    width: 100px;
}