.warning-info {
    font-style: italic;
    color: red;
    padding-left: 1.5rem;
}

.h-form-label > label {
    font-size: 1rem;
}

.card .row {
    margin-bottom: 3px;
}

html body .font-medium {
    margin-bottom: 2rem;
}

.btn {
    border-radius: 3px; 
}

.btn > a{
    text-decoration: none;
    color: #ffffff;
}
