.loading {
    background-color: #ffffffd1;
    clear: both;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

#pre-load {
    position: absolute;
}
.preloader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 100%;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

