.loading {
    background-color: #ffffffd1;
    clear: both;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

#pre-load {
    position: absolute;
}
.preloader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 100%;
}
.father-display-status{
    padding: 20px;
    
}
.ClearFix::after {
    clear:both;
    content: ".";
    width: 0;
    height: 0;
    display: block;
}
.detailOrder{
    box-shadow: 0 0 10px #C8CACA;
}
.gray-line{
    background-color: #C8CACA;
}
.line{
    padding: 15px 0 15px 15px;
    font-size: 130%;
}
.status-title{
    margin-top: 20px;
}
.code-order{
    float:right;
}
