
    <head>
        <link rel="stylesheet" type="text/css" href="~/CustomCSS/Form/ListForm.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function showPopUp(formId, formName, img_url) {
                document.getElementById('popupimg').setAttribute("src", img_url);
                document.getElementById('form_id').value = formId;
                document.getElementById('popup_form_name').innerHTML = formName;
                window.location.href = "#popup1";
            }
           
        </script>
    </head>

@{
    ViewBag.Title = "ListFormView";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}


@{
   var listForms = ViewBag.Forms;
}

<body>
    <div>
        <div class="flex-container">
            @{
                foreach (var form in listForms)
                {
                    <div class="box">
                        <div class="imgregion">
                            <img onclick="showPopUp(@form.FormID, '@form.FormName', '/FormImage/@form.FormImageLink')" src="~/FormImage/@form.FormImageLink" />
                        </div>
                        <div class="align">
                            <p>@form.FormName</p>
                        </div>
                        <div class="align">
                            <button name="btn1" class="cbutton" onclick="window.location.href='/bieu-mau/chi-tiet-bieu-mau?form_id=' + @form.FormID">Xem chi tiết</button>
                        </div>
                    </div>

                }
            }
        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="img-popup-region">
                    @{<img id="popupimg" src=""/> }
                </div>
                <div>
                    <span>Tên biểu</span>
                </div>
                <div class="align">
                    <p id="popup_form_name">Giấy hẹn số GH123</p>
                </div>
                <form method="get" action="/bieu-mau/chi-tiet-bieu-mau">
                    <input id="form_id" name="form_id" type="hidden" value="">
                    <input type="submit" value="Xem chi tiết" />
                </form>
            </div>
        </div>
    </div>
</body>