@{
    ViewBag.Title = "SearchStatus";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}

<link href="~/CustomCSS/preloader/Search.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />
<link href="~/assets/Custom css/Mobile/home-css.css" rel="stylesheet" />

<div class="card p-5 search-card" style=" padding-top: 50px !important;">
    <div class="input-group m-t-0 p-l-10 p-r-15">
        <h5 id="title" class="center">Tra cứu giấy hẹn</h5>
        <div class="row">
            <form action="/giay-hen/trang-thai-giay-hen" class="center row" method="post">
                <div class="col s1"></div>
                <input name="id_raw" id="input" type="text" class="col s7 center form-control col my-form" style=" border: 2px solid #e9ecef;"
                       placeholder="Nhập mã giấy hẹn" onclick="changeColor()" onfocusout="loseFocus()">
                <button class="col s3 center align-self-stretch btn btn-secondary input-group-append my-btn col" id="search_btn" type="submit">
                    <i class="fa fa-search" style="color: #b2b9bf;"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var mess = '@ViewBag.mess';
        if (mess != "") {
            if (mess == "2") {
                errorAlert("Lỗi", "Mã đơn hàng không tồn tại");
            } else {
                errorAlert("Lỗi", mess);
            }
        }
    });
</script>