@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/Login/Authentication.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="auth-box col l4 offset-l4" style="background-color: white;">
            <div id="loginform">
                <div class="logo login-logo col l6 offset-l3 s6 offset-s3">
                    <span class="db"><img src="../../assets/images/Logo.png" alt="logo"></span>

                </div>

                <div class="col l8 offset-l2 m-t-5">
                    <p class="font-medium login-label">PHẦN MỀM TIẾP NHẬN HỒ SƠ HÀNH CHÍNH CÔNG</p>
                </div>

                <!-- Form -->
                <div class="row card-custom" >
                    <form class="col s12">
                        <!-- email -->
                        <div class="row">
                            <div class="input-field col s12 p-l-20 p-r-20">
                                <input id="email" type="email" class="my-input" required="" placeholder="Tài khoản">
                            </div>
                        </div>
                        <!-- pwd -->
                        <div class="row">
                            <div class="input-field col s12 p-l-20 p-r-20">
                                <input id="password" type="password" class="my-input" required="" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="row" style="text-align:center !important">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Ghi nhớ</span>
                            </label>
                        </div>
                        <div class="row btn_login">
                            <a class="waves-effect waves-light btn orange">Đăng nhập</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>