@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/Login/Authentication.css" rel="stylesheet" />
<link href="~/CustomCSS/UserRegister/UserRegister.css" rel="stylesheet" />


<div class="container-fluid">

    <div class="row title_login">
        <div class="col l12">
            <div class="col l4">
                <div class="card">
                    <div class="card-content login-content">
                        <div class="row">
                            <div class="logo login-logo col l12 s6 offset-s3">
                                <span class="db"><img src="../../assets/images/Logo.png" alt="logo"></span>
                            </div>
                            <div class="col l12 s12 m-t-5">
                                <p class="font-medium login-label">PHẦN MỀM TIẾP NHẬN HỒ SƠ HÀNH CHÍNH CÔNG</p>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6>Tiện lợi</h6>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6>Tin cậy</h6>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6 class="">Nhanh chóng</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l8">
                <div class="card">
                    <div class="card-content login-content">
                        <div class="row">
                            <div class="col l12">
                                <ul class="tabs">
                                    <li class="tab col l6"><a href="#login">Đăng nhập</a></li>
                                    <li class="tab col l6"><a href="#register">Đăng ký</a></li>
                                </ul>
                            </div>
                            <div id="login" class="col l12">
                                <div>
                                    <div class="col l3 m3 s12">
                                        <h6>SĐT/Email</h6>
                                    </div>
                                    <div class="col l9 m9 s12">
                                        <input id="email" type="email" class="my-input" required="" placeholder="Nhập số điện thoại hoặc email">
                                    </div>
                                    <div class="col l3 m3 s12">
                                        <h6>Mật khẩu</h6>
                                    </div>
                                    <div class="col l9 m9 s12">
                                        <input type="text" placeholder="Mật khẩu từ 6 đến 32 kí từ">
                                    </div>
                                    <div class="col l12 m12 s12">
                                        <label div class="left">
                                            <input type="checkbox">
                                            <span>Ghi nhớ</span>
                                        </label>
                                        <label div class="right">
                                            <span class="btn-forget"><a href="javascript:void(0)">Quên mật khẩu?</a></span>
                                        </label>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login" style="background-color:#fcc438">Đăng nhập</a>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login " style="background-color:#3793c6"><div class="set-btn">Đăng nhập bằng Facebook</div><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login" style="background-color:#d35760"><div class="set-btn">Đăng nhập bằng Google</div><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                </div>


                            </div>

                            <div id="register" class="s12">
                                <div class="auth-box">
                                    <div id="loginform">

                                        <!-- Form -->
                                        <div class="row">
                                            <form name="Form" class="col s12" action="index.html">
                                                <!-- email -->
                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">Họ tên</p>
                                                    </div>

                                                    <div class="input-field col s8 l9 m-b-0">
                                                        <input id="tbName" name="tbName" class="validate my-input">

                                                    </div>
                                                </div>
                                                <!-- email valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20">
                                                    </div>
                                                    <div id="name-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">SĐT</p>
                                                    </div>

                                                    <div class="input-field col s8 l5 m-b-0">
                                                        <input id="tbPhone" name="tbPhone" class="validate my-input">

                                                    </div>

                                                    <div class="col l4 s12 m-t-10 m-b-0">
                                                        <button class="btn-large w100 yellow-logo-bg accent-4 my-btn" onclick="return valid()" style="height: 47px; margin-top: 5px;">Gửi mã xác thực</button>
                                                    </div>
                                                </div>
                                                <!-- email valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20 ">
                                                    </div>
                                                    <div id="phone-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">Mã xác thực</p>
                                                    </div>

                                                    <div class="input-field col s8 l9 m-b-0">
                                                        <input id="tbValidCode" name="tbValidCode" class="validate my-input">

                                                    </div>
                                                </div>
                                                <!-- valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20 ">
                                                    </div>
                                                    <div id="validCode-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">Email</p>
                                                    </div>

                                                    <div class="input-field col s8 l9 m-b-0">
                                                        <input id="tbEmail" name="tbEmail" class="validate my-input">

                                                    </div>
                                                </div>
                                                <!-- valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20 ">
                                                    </div>
                                                    <div id="email-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">Mật khẩu</p>
                                                    </div>

                                                    <div class="input-field col s8 l9 m-b-0">
                                                        <input id="tbPass" name="tbPass" class="validate my-input">

                                                    </div>
                                                </div>
                                                <!-- valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20 ">
                                                    </div>
                                                    <div id="pass-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20 m-b-0">
                                                        <p class="black-text m-b-0">Nhập lại mật khẩu</p>
                                                    </div>

                                                    <div class="input-field col s8 l9 m-b-0">
                                                        <input id="tbRePass" name="tbRePass" class="validate my-input">

                                                    </div>
                                                </div>
                                                <!-- valid -->
                                                <div class="row">
                                                    <div class="col s2 m-t-20 m-l-20 ">
                                                    </div>
                                                    <div id="rePass-err" class="col s9 err">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col s3 l2 m-t-20 m-l-20">
                                                        <p class="black-text">Giới tính</p>
                                                    </div>

                                                    <div class="col m-t-20 m-l-20 m-b-30">
                                                        <form action="#">
                                                            <p class="inline m-r-30">
                                                                <label>
                                                                    <input class="with-gap" name="group1" type="radio" checked />
                                                                    <span>Nam</span>
                                                                </label>
                                                            </p>

                                                            <p class="inline m-r-30">
                                                                <label>
                                                                    <input class="with-gap" name="group1" type="radio" />
                                                                    <span>Nữ</span>
                                                                </label>
                                                            </p>

                                                            <p class="inline m-r-30">
                                                                <label>
                                                                    <input class="with-gap" name="group1" type="radio" />
                                                                    <span>Khác</span>
                                                                </label>
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>

                                                <!-- pwd -->
                                                <div class="row m-t-40 m-b-40 m-l-20 m-r-20">
                                                    <div class="col s12">
                                                        <button class="btn-large w100 yellow-logo-bg accent-4 black-text" type="submit" onclick="return valid()">Tạo tài khoản</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var windowWidth = $(window).width();
            if (windowWidth < 768) {
                $(".set-btn").remove();
            }
        })


        function valid() {
        $('#name-err').text('');
        $('#phone-err').text('');
        $('#validCode-err').text('');
        $('#email-err').text('');
        $('#pass-err').text('');
        $('#rePass-err').text('');
        var name = document.forms["Form"]["tbName"].value;
        var phone = document.forms["Form"]["tbPhone"].value;
        var validCode = document.forms["Form"]["tbValidCode"].value;
        var email = document.forms["Form"]["tbEmail"].value;
        var pass = document.forms["Form"]["tbPass"].value;
        var rePass = document.forms["Form"]["tbRePass"].value;
        var valid = true;

        if (name.length == 0) {
           
            $('#name-err').text('Không để trống tên');
            return false;
        }
        if (phone.length == 0) {
            
            $('#phone-err').text('Không để trống điện thoại');
            return false;
        }
        if (phone == "0123") {
            
            $('#phone-err').text('Số điện thoại đã tồn tại');
            return false;
        }
        if (validCode.length == 0) {
           
            $('#validCode-err').text('Không để trống mã xác thực');
            return false;
        }

        if (validCode.length <= 5) {
            
            $('#validCode-err').text('Mã xác thực không đúng');
            return false;
        }
        if (email.length == 0) {
            
            $('#email-err').text('Không để trống email');
            return false;
        }

        var isEmail = /^[a-zA-Z0-9]{1,}[@@]{1}[a-z]{1,}[.]{1}[a-z]{1,3}$/.test(email);
        if (isEmail == false) {
            
            $('#email-err').text('Địa chỉ email không hợp lệ');
            return false;
        }
        

        
        if (pass.length == 0) {
            
            $('#pass-err').text('Không để trống mật khẩu');
            return false;
        }
        if (pass.length < 6 || pass.length > 32) {
            
            $('#pass-err').text('Mật khẩu 6-32 kí tự');
            return false;
        }
        if (rePass.length == 0) {
            
            $('#rePass-err').text('Không để trống trường nhập lại mật khẩu');
            return false;
        }
        if (rePass != pass) {
            
            $('#rePass-err').text('Mật khẩu nhập lại không khớp');
            return false;
        }
        return valid;
    }
    </script>
