
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/CustomCSS/Login/Authentication.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row title_login">
        <div class="col l12">
            <div class="col l4">
                <div class="card">
                    <div class="card-content login-content">
                        <div class="row">
                            <div class="logo login-logo col l12 s6 offset-s3">
                                <span class="db"><img src="../../assets/images/Logo.png" alt="logo"></span>
                            </div>
                            <div class="col l12 s12 m-t-5">
                                <p class="font-medium login-label">PHẦN MỀM TIẾP NHẬN HỒ SƠ HÀNH CHÍNH CÔNG</p>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6>Tiện lợi</h6>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6>Tin cậy</h6>
                            </div>
                            <div class="col l11 offset-l1 m8 offset-m4 s12 title-label">
                                <i class="material-icons small dp48">check</i><h6 class="">Nhanh chóng</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l8">
                <div class="card">
                    <div class="card-content login-content">
                        <div class="row">
                            <div class="col l12">
                                <ul class="tabs">
                                    <li class="tab col l6"><a href="#login">Đăng nhập</a></li>
                                    <li class="tab col l6"><a href="#register">Đăng ký</a></li>
                                </ul>
                            </div>
                            <div id="login" class="col l12">
                                <div>
                                    <div class="col l3 m3 s12">
                                        <h6>SĐT/Email</h6>
                                    </div>
                                    <div class="col l9 m9 s12">
                                        <input id="email" type="email" class="my-input" required="" placeholder="Nhập số điện thoại hoặc email">
                                    </div>
                                    <div class="col l3 m3 s12">
                                        <h6>Mật khẩu</h6>
                                    </div>
                                    <div class="col l9 m9 s12">
                                        <input type="text" placeholder="Mật khẩu từ 6 đến 32 kí từ">
                                    </div>
                                    <div class="col l12 m12 s12">
                                        <label div class="left">
                                            <input type="checkbox">
                                            <span>Ghi nhớ</span>
                                        </label>
                                        <label div class="right">
                                            <span class="btn-forget"><a href="javascript:void(0)">Quên mật khẩu?</a></span>
                                        </label>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login" style="background-color:#fcc438">Đăng nhập</a>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login " style="background-color:#3793c6"><div class="set-btn">Đăng nhập bằng Facebook</div><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="col l12 s12">
                                        <a class="waves-effect waves-light btn btn-login" style="background-color:#d35760"><div class="set-btn">Đăng nhập bằng Google</div><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                </div>


                                <div id="register" class="col s12">Test 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
     $(document).ready(function () {
    var windowWidth = $(window).width();
    if (windowWidth < 768) {
        $(".set-btn").remove();
    }
    })

    </script>
