@{
    ViewBag.Title = "ManagementUser";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}

<link href="~/CustomCSS/Login/ManagementUser.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />



<div class="content">
   









    @* Thanh tìm kiếm, button search, button refresh *@
    <div class="row my-function d-flex">
        <div class="col l1 m-0 p-0">
            <button class="align-self-stretch btn btn-secondary input-group-append my-btn" type="button">
                <a href="/giay-hen/trang-thai-giay-hen"> <i class="fa fa-search" style="color: #b2b9bf;"></i></a>
            </button>
        </div>
        <div class="my-input-search col l6">
            <input id="input" type="text" class="form-control my-form" style="border: 2px solid #e9ecef;"
                   placeholder="Nhập mã giấy hẹn để kiểm tra tình trạng" onclick="changeColor()" onfocusout="loseFocus()">
        </div>


        <div class="modal fade" id="forminput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email1">Email address</label>
                                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="password1">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col l1">
            <button class="btn cyan waves-effect waves-light right" name="action" data-toggle="modal" data-target="#forminput">
                Add
            </button>


        </div>
        <div class="col l1">
            <i class="material-icons dp48 small">refresh</i>
        </div>
        <div class="col l1">
            <i class="material-icons dp48 small">more_vert</i>
        </div>

    </div>


    <div class="row">



        @* Dữ liệu cho nút edit *@
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Chỉnh sửa</a></li>
            <li><a href="#!">Đổi vai trò</a></li>
            <li><a href="#!">Xóa</a></li>
        </ul>

        <table class="table highlight responsive-table mana-user-table">
            <thead>
                <tr>
                    <th class="center-align">STT</th>
                    <th>UserID</th>
                    <th class="center-align">Tên người dùng</th>
                    <th class="center-align">Tài khoản</th>
                    <th class="center-align">Vai trò</th>
                    <th class="center-align">Active</th>
                    <th class="center-align"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>

                <tr>
                    <td class="center-align">1</td>
                    <td class="left-align">U01</td>
                    <td class="center-align">Nguyễn Quang Tùng </td>
                    <td class="center-align"> QuangNT@vnpost.com </td>
                    <td class="center-align"> Quản trị viên </td>
                    <td class="center-align">
                        <label class="m-l-15">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="dropdown-trigger btn  " href="#" data-target="dropdown1"><i class="material-icons dp50">settings</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <ul class="pagination col l4 offset-l4 m-t-40">
                <li class="paginate_button page-item previous disabled" id="file_export_previous">
                    <a href="#"
                       aria-controls="file_export" data-dt-idx="0" tabindex="0" class="page-link">
                        Previous
                    </a>
                </li>
                <li class="paginate_button page-item active">
                    <a href="#" aria-controls="file_export" data-dt-idx="1" tabindex="0" class="page-link">
                        1
                    </a>
                </li>
                <li class="paginate_button page-item ">
                    <a href="#" aria-controls="file_export" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                </li>
                <li class="paginate_button page-item "><a href="#" aria-controls="file_export" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="file_export" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item next" id="file_export_next">
                    <a href="#" aria-controls="file_export" data-dt-idx="5" tabindex="0" class="page-link">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@* POP-UP NHẬP THÔNG TIN NGƯỜI DÙNG MỚI *@
<div class="modal fade" id="forminput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email1">Email address</label>
                        <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password1">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* ***************** *@

<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>