@{
    ViewBag.Title = "ManagementUser";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}

<link href="~/CustomCSS/Login/ManagementUser.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/FontAwesome.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/CustomJS/test.js"></script>
<script src="~/CustomJS/Management_User/ManagementUser.js"></script>



<!-- Pop-up add user / edit user-->
<div id="vattu" class="modal p-20" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 10%; transform: scaleX(0.8) scaleY(0.8);">
    <div class="modal-header center">
        <h4>Nhập thông tin tài khoản</h4>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped">
            <tbody>

                <tr>
                    <td>Tên người dùng</td>
                    <td><input class="form-control" type="text" value="TRÍ123"></td>
                </tr>
                <tr>
                    <td>Tỉnh/Thành Phố</td>
                    <td>
                        <select class="browser-default">

                            <option value="1">Tổng công ty</option>
                            <option value="2">Hà Nội</option>
                            <option value="3">Nam Định</option>
                            <option value="4">Tất cả</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Vai trò</td>
                    <td>
                        <select class="browser-default">

                            <option value="1">Quản trị viên</option>
                            <option value="2">Nhân viên nhập liệu</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tài khoản</td>
                    <td><input class="form-control" type="text"></td>
                </tr>

                <tr>
                    <td>Mật khẩu</td>
                    <td><input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <span class="col" style="margin-left: 290px;">Hiển thị mật khẩu</span>
                        <span class="col">

                            <label style="margin-left: 290px; margin-top: 20px">
                                <input type="checkbox" unchecked="checked" />
                                <span></span>
                            </label>

                        </span>


                    </td>
                </tr>
                <tr>
                    <td>Hoạt động</td>
                    <td>

                        <label>
                            <input type="checkbox" />
                            <span></span>
                        </label>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue">Lưu</a>
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>

@* Pop up xác nhận xóa *@
<!-- Modal HTML -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Xóa tài khoản</h4>
            </div>

            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa tài khoản của Nguyễn Quang Tùng không?</p>

                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">

                <a class="btn modal-close red">Có</a>
                <a class="btn modal-close blue darken-2">Không</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col offset-l1 l1">
            <p class="m-t-10">Khu vực</p>
        </div>

        @* Drop down list khu vực *@
        <div class="col l3">
            <form>

                <select class="browser-default">

                    <option value="1">Tổng công ty</option>
                    <option value="2">Hà Nội</option>
                    <option value="3">Nam Định</option>
                    <option value="4">Tất cả</option>
                </select>
            </form>
        </div>

        <div class="col l1 offset-l1">
            <p class="m-t-10">Vai trò</p>
        </div>

        @* Drop down list vai trò *@
        <div class="col l4">
            <form>

                <select class="browser-default">

                    <option value="1">Quản trị viên</option>
                    <option value="2">Nhân viên nhập liệu</option>
                    <option value="3">Tất cả</option>
                </select>
            </form>
        </div>


    </div>

    <div class="row m-t-30">
        <div class="col offset-l1 l1">
            Hoạt động
        </div>

        <div class="col">
            <p>
                <label>
                    <input type="checkbox" unchecked="checked" />
                    <span>Có</span>
                </label>
            </p>
        </div>

        <div class="col offset-l1">
            <p>
                <label>
                    <input type="checkbox" unchecked="checked" />
                    <span>Không</span>
                </label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col l3 offset-l8">
            <a href="#" style="background-color: #2962ff !important;" class="btn waves-effect waves-light right modal-trigger m-r-20">
                Hiển thị
            </a>
        </div>
    </div>






    @* Thanh tìm kiếm, button search, button refresh *@
    <div class="row my-function m-t-20">
        <div class="col l9 offset-l1">




            <div class="my-input-search col l11">
                <input id="input" type="text" class="form-control my-form" style="border: 2px solid #e9ecef;"
                       placeholder="Nhập tên người dùng, tài khoản, khu vực để tìm kiếm" onclick="changeColor()" onfocusout="loseFocus()">
            </div>

            <div class="col" style="margin-right: 0px !important">
                <button class="align-self-stretch btn btn-secondary input-group-append my-btn" type="button">
                    <a href="#!"> <i class="fa fa-search" style="color: white;"></i></a>
                </button>
            </div>
        </div>

        <div class="col l2 d-flex">


            <div>
                <a href="#vattu" class="modal-trigger" name="action">

                    <i class="material-icons dp48 small">add</i>
                </a>


            </div>
            <div style=" margin-left: 15px !important">
                <a href="#" class="modal-trigger" onclick="reloadPage()">
                <i class="material-icons dp48 small">refresh</i>
                </a>
            </div>

        </div>


        <div class="row">

            <div class="col l10 offset-l1">

                @* Dữ liệu cho nút edit *@
                <ul id="dropdown1" style=" width:120px !important; overflow-x: hidden;" class="dropdown-content edit-ul">
                    <li><a href="#vattu" class="modal-trigger">Chỉnh sửa</a></li>

                    <li><a href="#deleteModal" class="modal-trigger">Xóa</a></li>
                </ul>

                <table class="table highlight responsive-table mana-user-table">
                    <thead>
                        <tr>
                            <th class="center-align">STT</th>
                            <th>Tên người dùng</th>
                            <th class="center-align">Tài khoản</th>
                            <th class="center-align">Khu vực</th>
                            <th class="center-align">Vai trò</th>
                            <th class="center-align">Hoạt động</th>
                            <th class="center-align"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn6</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>
                               

                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn7</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">admin10</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn1</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn2</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn3</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">
                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn4</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td class="center-align">1</td>
                            <td class="left-align">Nguyễn Quang Tùng</td>
                            <td class="center-align">tienn5</td>
                            <td class="center-align"> Tổng công ty </td>
                            <td class="center-align"> Quản trị viên </td>
                            <td class="center-align">
                                <label class="m-l-15">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="center-align">

                                <a href="#editUser" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">mode_edit</i>
                                </a>


                                <a href="#deleteModal" class="modal-trigger" name="action">

                                    <i class="material-icons dp48 small">clear</i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <ul class="pagination col l4 offset-l4 m-t-40">
                        <li class="paginate_button page-item previous disabled" id="file_export_previous">
                            <a href="#"
                               aria-controls="file_export" data-dt-idx="0" tabindex="0" class="page-link">
                                Previous
                            </a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="file_export" data-dt-idx="1" tabindex="0" class="page-link">
                                1
                            </a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="file_export" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="file_export" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="file_export" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                        <li class="paginate_button page-item next" id="file_export_next">
                            <a href="#" aria-controls="file_export" data-dt-idx="5" tabindex="0" class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* POP-UP NHẬP THÔNG TIN NGƯỜI DÙNG MỚI *@
<div class="modal fade" id="forminput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email1">Email address</label>
                        <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password1">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* ***************** *@



<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


<!-- Pop-up ------  DEMO PROTOTYPE ---- edit user-->
<div id="editUser" class="modal p-20" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 10%; transform: scaleX(0.8) scaleY(0.8);">
    <div class="modal-header center">
        <h4>Nhập thông tin tài khoản</h4>
    </div>
    <div class="modal-body">
        <table id="Table" class="centered striped">
            <tbody>

                <tr>
                    <td>Tên người dùng</td>
                    <td><input class="form-control" type="text" value="Nguyễn Quang Tùng"></td>
                </tr>
                <tr>
                    <td>Tỉnh/Thành Phố</td>
                    <td>
                        <select class="browser-default">

                            <option value="1">Hà Nội</option>
                            <option value="2">Tổng công ty</option>
                            
                            <option value="3">Nam Định</option>
                            <option value="4">Tất cả</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Vai trò</td>
                    <td>
                        <select class="browser-default">

                            <option value="1">Quản trị viên</option>
                            <option value="2">Nhân viên nhập liệu</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tài khoản</td>
                    <td><input class="form-control" type="text" value="admin0"></td>
                </tr>

                <tr>
                    <td>Mật khẩu</td>
                    <td><input class="form-control" type="password" value="ABCXYZ"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <span class="col">Hiển thị mật khẩu</span>
                        <span class="col">

                            <label style="margin-left: 290px; margin-top: 20px">
                                <input type="checkbox" unchecked="checked" />
                                <span></span>
                            </label>

                        </span>


                    </td>
                </tr>
                <tr>
                    <td>Hoạt động</td>
                    <td>

                        <label>
                            <input type="checkbox" checked/>
                            <span></span>
                        </label>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn modal-close blue">Lưu</a>
        <a class="btn modal-close blue darken-2">Đóng</a>
    </div>
</div>

