@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/floating-action-btn.css" rel="stylesheet">
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet">
<style>
    input {
        width: 300px !important;
    }

    .card {
        margin-left: 230px !important;
        width: 500px !important;
    }
</style>
<div class="center">
    <div class="card">
        <div class="card-content">
            @*<div class="row">
                <div class="col l8">
                    <input type="text" class="form-control m-b-15" id="token" placeholder="Nhập mã Token" />
                </div>
                <div class="col l4">
                    <button type="button" class="form-control m-b-15" onclick="checktoken()" style="background-color:orange !important; color:black !important">Xác nhận</button>
                </div>
            </div>*@
            <input type="password" class="form-control m-b-15" id="newpass" placeholder="Nhập mật khẩu"  />
            <input type="password" class="form-control m-b-15" id="repass" placeholder="Xác nhận mật khẩu"  />
            <button type="button" class="form-control" onclick="changepass()" style="background-color:orange !important; color:black !important" >Đổi mật khẩu</button>
        </div>
        <input type="hidden" value="@ViewBag.userid" id="userid" />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    //function checktoken() {
    //    $.ajax({
    //        url: "/LoginCustomer/CheckToken",
    //        type: "POST",
    //        data: JSON.stringify(emp),
    //        contentType: "application/json;charset=utf-8",
    //        success: function (result) {
    //            if (result == 1) {
    //                successAlert('Thành công', 'Đổi mật khẩu thành công');
    //                setTimeout(function () {
    //                    window.location.href = "/khach-hang/dang-nhap";
    //                }, 1200);
    //            }
    //            if (result == 0) {
    //                errorAlert('Lỗi', 'Có lỗi xảy ra. Vui lòng thử lại');
    //            }
    //            $('#pre-load').hide();
    //        },
    //        error: function (errormessage) {
    //            $('#pre-load').hide();
    //        }
    //    });
    //}

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return null;
    }


    function changepass() {
        var newpass = document.getElementById('newpass').value;
        var repass = document.getElementById('repass').value;
        if (newpass.length < 6 || newpass.length > 32) {
            errorAlert('Lỗi', 'Mật khẩu phải có độ dài từ 6 đến 32 kí tự');
            return false;
        }

        if (newpass.length == 0) {
            errorAlert('Lỗi', 'Bạn phải nhập mật khẩu');
            return false;
        }

        if (repass.length == 0) {
            errorAlert('Lỗi', 'Vui lòng nhập trường Nhập lại mật khẩu');
            return false;
        }

        if (newpass != repass) {
            errorAlert('Lỗi', 'Mật khẩu không trùng khớp');
            return false;
        }
        var emp = {
            password: newpass,
            userid: getQueryVariable('userid'),
            token: getQueryVariable('token')
        };
        $('#pre-load').show();
        $.ajax({
            url: "/LoginCustomer/ChangePass",
            type: "POST",
            data: JSON.stringify(emp),
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                if (result == 1) {
                    successAlert('Thành công', 'Đổi mật khẩu thành công');
                    setTimeout(function () {
                        window.location.href = "/khach-hang/dang-nhap";
                    }, 1200);
                }
                if (result == 0) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra. Vui lòng thử lại');
                }
                $('#pre-load').hide();
            },
            error: function (errormessage) {
                $('#pre-load').hide();
            }
        });
    }
</script>
